@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

body
	height: 100%
	min-width: 320px
	position: relative

.wrapper
	margin: 0 auto
	min-height: 100vh
	overflow: hidden
	position: relative
	padding-top: $header-height

.main
	position: relative
	width: 100%
	float: left
	clear: both
	z-index: 4

.main__holder
	margin: 0 0 0 #{$sidebar-width}
	min-height: 50px
	+clear

.content-wrap
	float: left
	width: 100%

.content
	background-color: whitesmoke
	padding: #{$layout-spaces}

.header
	position: fixed
	top: 0
	z-index: 1020
	height: $header-height
	margin: 0 0 0 $sidebar-width
	padding-left: $layout-spaces
	width: calc(100% - #{$sidebar-width})
	box-shadow: inset 0 -1px 0 $border-color
	@if $page-layout-width
		max-width: calc(#{$page-layout-width} - #{$sidebar-width})
	@else
		max-width: calc(100% - #{$sidebar-width})

.sidebar
	position: fixed
	+position(0, 0)
	+size($sidebar-width, 100%)
	z-index: 1001

	background-color: sandybrown

.sidebar__align
	width: #{$sidebar-width + 100px}
	background-color: inherit

	.touchevents &
		width: 100%

.sidebar__holder
	position: relative
	width: $sidebar-width

.footer
	position: relative
	clear: both
	z-index: 5

	background-color: lightgreen

.footer__holder
	$base-width: 100% - #{$sidebar-width}
	$base-width--lg: 100% - #{$sidebar-width--lg}

	&
		left: $sidebar-width
		width: calc(#{$base-width})

.max-wrap
	@if $page-layout-width
		max-width: $page-layout-width + $page-layout-space-horizontal*2

.layout
	//+push-auto
	@if $page-layout-space-horizontal != 0
		+padding-horizontal($page-layout-space-horizontal)

	//+media('<tab-lg')
		.main &
			+padding-horizontal(0)

// выравнивание текстовых элементов на странице статьи (контент обернут в .layout-article)
// и их максимальная ширина
.layout-article
	//padding: round($text-layout-space-horizontal) #{$text-layout-space-horizontal} round($text-layout-space-horizontal*1.5)

	//+media('<tab-lg')
		padding: round($text-layout-space-horizontal--md*1.5) #{$text-layout-space-horizontal--md} round($text-layout-space-horizontal--md*2)

	//+media('<tab-sm')
		padding: round($text-layout-space-horizontal--sm*1.5) #{$text-layout-space-horizontal--sm} round($text-layout-space-horizontal--sm*2)

	& > p, & > ul, & > ol, & > h1, & > h2, & > h3, & > h4, & > h5, & > h6, & > hr, & > blockquote, & > .layout-text
		//max-width: $text-layout-width + $text-layout-indent
		//+padding-horizontal($text-layout-indent, 0)
		max-width: $text-layout-width
		+padding-horizontal(0)
		+push-auto

	.layout-flood
		//max-width: $flood-layout-width + $text-layout-indent
		//+padding-horizontal($text-layout-indent, 0)
		max-width: $text-layout-width
		+padding-horizontal(0)
		+push-auto

	// элеметы без отступов по бокам
	// минусовые маржины по горизонтале имеют значение только внутри .layout-article
	.layout-full-width, .layout-wide

		+margin-horizontal(-#{$text-layout-space-horizontal})

		+media('<desk-lg')
			+margin-horizontal(-#{$text-layout-space-horizontal--lg})

		//+media('<tab-lg')
			+margin-horizontal(-#{$text-layout-space-horizontal--md})

		+media('<mob-lg')
			+margin-horizontal(-#{$text-layout-space-horizontal--sm})

// максимальная ширина текстовых элементов на внутренней (текстовой) странице
.max-wrap-text
	max-width: #{$text-layout-width + $text-layout-space-horizontal*2}
	//max-width: #{$text-layout-width + $text-layout-space-horizontal*2 + $text-layout-indent}

	+media('<desk-lg')
		max-width: #{$text-layout-width + $text-layout-space-horizontal--lg*2}

	//+media('<tab-lg')
		//max-width: #{$text-layout-width + $text-layout-space-horizontal--md*2}
		max-width: #{$text-layout-width + $text-layout-indent}

	+media('<mob-lg')
		max-width: #{$text-layout-width + $text-layout-space-horizontal--sm*2}
		//max-width: #{$text-layout-width + $text-layout-indent}

// выравнивание текстовых элементов на внутренней (текстовой) странице
// и их максимальная ширина
.layout-text
	//max-width: #{$text-layout-width + $text-layout-space-horizontal*2 + $text-layout-indent}
	//+padding-horizontal(#{$text-layout-indent + $text-layout-space-horizontal}, $text-layout-space-horizontal)
	max-width: #{$text-layout-width + $text-layout-space-horizontal*2}
	+padding-horizontal($text-layout-space-horizontal)
	+push-auto

	+media('<desk-lg')
		max-width: #{$text-layout-width + $text-layout-space-horizontal--lg*2}
		+padding-horizontal($text-layout-space-horizontal--lg)

	//+media('<tab-lg')
		max-width: #{$text-layout-width + $text-layout-space-horizontal--md*2}
		+padding-horizontal($text-layout-space-horizontal--md)

	+media('<mob-lg')
		max-width: #{$text-layout-width + $text-layout-space-horizontal--sm*2}
		+padding-horizontal($text-layout-space-horizontal--sm)

// максимальная ширина альтернативных элементов на внутренней (текстовой) странице
.max-wrap-flood
	max-width: #{$flood-layout-width + $text-layout-space-horizontal*2}
	//max-width: #{$flood-layout-width + $text-layout-space-horizontal*2 + $text-layout-indent}

	+media('<desk-lg')
		max-width: #{$flood-layout-width + $text-layout-space-horizontal--lg*2}

	//+media('<tab-lg')
		max-width: #{$flood-layout-width + $text-layout-space-horizontal--md*2}

	+media('<mob-lg')
		max-width: #{$flood-layout-width + $text-layout-space-horizontal--sm*2}

// выравнивание альтернативных элементов на внутренней (текстовой) странице
// и их максимальная ширина
.layout-flood
	max-width: #{$flood-layout-width + $text-layout-space-horizontal*2}
	+padding-horizontal($text-layout-space-horizontal)
	//max-width: #{$flood-layout-width + $text-layout-space-horizontal*2 + $text-layout-indent}
	//+padding-horizontal(#{$text-layout-indent + $text-layout-space-horizontal}, $text-layout-space-horizontal)
	+push-auto

	+media('<desk-lg')
		max-width: #{$flood-layout-width + $text-layout-space-horizontal--lg*2}
		+padding-horizontal($text-layout-space-horizontal--lg)

	//+media('<tab-lg')
		max-width: #{$flood-layout-width + $text-layout-space-horizontal--md*2}
		+padding-horizontal($text-layout-space-horizontal--md)

	+media('<mob-lg')
		max-width: #{$flood-layout-width + $text-layout-space-horizontal--sm*2}
		+padding-horizontal($text-layout-space-horizontal--sm)

	p, ul, ol, h1, h2, h3, h4, h5, h6, hr, blockquote
		max-width: none

// элеметы с отступами по бокам
.layout-wide
	+padding-horizontal($text-layout-space-horizontal)

	+media('<desk-lg')
		+padding-horizontal($text-layout-space-horizontal--lg)

	//+media('<tab-lg')
		+padding-horizontal($text-layout-space-horizontal--md)

	+media('<mob-lg')
		+padding-horizontal($text-layout-space-horizontal--sm)

	p, ul, ol, h1, h2, h3, h4, h5, h6, hr, blockquote
		max-width: none

// элеметы без отступов по бокам
.layout-full-width

	p, ul, ol, h1, h2, h3, h4, h5, h6, hr, blockquote
		max-width: none

/* footer at bottom
.spacer
	.wrapper > &
		display: none

		//+media('<tab-lg')
			display: block

	//.main__holder > &

		+media('<tab-lg')
			display: none

/* footer at bottom end