@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.m-wrapper
	position: relative
	padding-right: 1px
	margin-bottom: $bottom-space--lg
	z-index: 15
	user-select: none

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

/* 404 page
.err
	display: table
	width: 100%

.err__holder
	display: table-cell
	vertical-align: middle
	+padding-vertical(100px)
	background: url(../../img/no-img-product.png) no-repeat center
	background-size: contain

/* 404 page end

/* logo
.logo
	// has styles on layout.sass
	position: relative
	float: left
	background-color: $base-color
	z-index: 5

	+media('<desk-sm')
		float: none
		display: block
		background-color: transparent

	&::before
		+pseudo()
		+position(0)
		+size(100%)
		background-repeat: no-repeat
		background-image: url(../../img/logo.png)
		background-size: auto 100%
		background-position: left

		.home-page &, .page--has-full-logo &
			background-size: contain
			background-position: center

		+media('<desk-sm')
			background-image: url(../../img/logo--alt.png)
			background-size: contain
			background-position: center

	a, & > span
		position: relative
		display: block
		height: 100%
		z-index: 5

		& > em
			+hide-text

/* logo end

/* scroll to
.scroll-to
	text-align: center

	a
		+font-d
		text-decoration: none
		color: $text-color
		fill: $text-color

		@if $animation-use
			transition:
				property: color
				duration: $animation-speed

	svg
		+display-inline-block-middle
		+size(40px)

		+media('<desk-lg')
			+size(30px)

	path
		fill: inherit

		@if $animation-use
			transition:
				property: fill
				duration: $animation-speed

	// hover
	a:hover
		color: $link-color
		fill: $link-color

/* scroll to end

/* short contacts
.short-contacts-wrap
	text-align: center
	margin-bottom: 2rem

	&:last-child
		margin-bottom: 0

.short-contacts
	$icon-size: 22px
	$icon-space: 14px

	&, .#{$user-content} &
		list-style: none
		margin: 0
		padding: 0

		li
			padding: 0 0 10px
			margin: 0

			&:last-child
				padding-bottom: 0

			&::before
				content: none

	&
		+display-inline-block-top
		text-align: left
		width: 100%

	li
		+clear-spacing
		+clear
		color: $text-color
		cursor: default

	svg
		float: left
		+size($icon-size)
		margin-right: $icon-space

	path, use
		fill: $text-color-light

	a, & li > div
		display: block
		+font(16px, #{$icon-size})
		margin-left: #{$icon-size + $icon-space}
		color: inherit
		text-decoration: none
		//transition:
			property: color
			duration: $animation-speed

		sub, sup
			font-size: 0.6em

		& ~ a
			margin-top: 5px

		span
			letter-spacing: normal

		&[href]
			span
				border-bottom: 1px solid tint($text-color, 40%)

				@if $animation-use
					transition:
						property: border-color
						duration: $animation-speed

		&[href^="mailto:"]
			word-wrap: break-word

		&[href^="tel:"], a[href]
			span
				border-bottom-color: transparent

		.no-touchevents &[href]:not([href^="tel:"]):hover
			color: $base-color

			span
				border-bottom: 1px solid tint($base-color, 40%)

/* short contacts end

/* departments
$dep-space: 24px, 28px
$dep-img-size: 80px, 120px // width, height

.dep-list
	border-style: solid
	border-width: 0 1px 1px
	border-color: $border-color
	//display: flex
	//flex-direction: column-reverse
	+clear-spacing

	&, .#{$user-content} &
		list-style: none
		margin: 0 0 $bottom-space--md
		padding: 0

		+media('<desk-lg')
			margin-bottom: $bottom-space--ml

		&:last-child
			margin-bottom: 0

		& > li
			//padding: nth($dep-space, 1) #{nth($dep-space, 2) + nth($dep-img-size, 1)} nth($dep-space, 1) nth($dep-space, 2)
			padding: nth($dep-space, 1) nth($dep-space, 2)
			margin: 0

			+media('<mob-lg')
				padding-left: $layout-spaces--mob

			&::before
				content: none

	& > li
		position: relative
		border-style: solid
		border-color: inherit
		border-width: 1px 0 0
		min-height: 105px
		background-color: $bg-color
		z-index: 5
		overflow: hidden

		&:first-child
			overflow: visible

.dep-img
	position: absolute
	right: nth($dep-space, 2)
	bottom: 0
	padding: 0
	margin: 0
	width: nth($dep-img-size, 1)
	+font($font-size, $letter-spacing)

	&::before
		+pseudo-block-relative()
		+ratio(nth($dep-img-size, 1), nth($dep-img-size, 2))

	& > div
		position: absolute
		+size(100%)
		+position(0)

	img
		+object-fit(contain)
		display: block
		width: 100%
		height: 100%
		max-width: none
		opacity: 0.5
		filter: grayscale(1)

		.touchevents &
			opacity: 1
			filter: grayscale(0)

	& > div:first-child img
		filter: brightness(0) invert(1)
		opacity: 1

// hover
.dep-list > li:hover
	z-index: 10 !important
	overflow: visible !important

	&::after
		content: none

	.dep-img
		&::after
			opacity: 0

		img
			filter: grayscale(0)

.dep-sub-list

	&, .#{$user-content} &
		list-style: none
		margin: 0
		padding: 0 10px 0 0

		li
			padding: 0
			margin: 0 0 18px

			&::before
				content: none

			&:last-child
				margin-bottom: 0

	li
		+font-d
		color: inherit

		a
			color: inherit
			text-decoration: none

			&:hover
				color: $base-color

// horizontal view
.dep-list--horizontal
	$items-in-row: 4
	$items-in-row--hd: 2

	display: block
	border-width: 0

	&, .#{$user-content} &
		& > li
			margin: -1px 0 0 -1px

	& > li
		+display-inline-block-top
		width: calc(#{round-float(100%/$items-in-row, 2)} + 1px)
		border-width: 1px
		overflow: hidden

		&:nth-child(-n+#{$items-in-row})
			overflow: visible

		+media('<desk-hd')
			width: calc(#{round-float(100%/$items-in-row--hd, 2)} + 1px)
			overflow: hidden

			&:nth-child(-n+#{$items-in-row})
				overflow: hidden

			&:nth-child(-n+#{$items-in-row--hd})
				overflow: visible

		+media('<desk-md')
			width: calc(#{round-float(100%/$items-in-row, 2)} + 1px)

			&:nth-child(-n+#{$items-in-row})
				overflow: visible

		+media('<desk-sm')
			width: calc(#{round-float(100%/$items-in-row--hd, 2)} + 1px)
			overflow: hidden

			&:nth-child(-n+#{$items-in-row})
				overflow: hidden

			&:nth-child(-n+#{$items-in-row--hd})
				overflow: visible

/* departments end

/* main slider (home page)
.main-slider
	//width: 600px
	height: 100%
	background-color: $bg-color-alt
	color: $main-slider-color

	+media('<mob-lg')
		color: $text-color
		padding-bottom: 60px

.main-slider-prev, .main-slider-next, .main-slider-pagination, .main-slider__content
	//filter: drop-shadow(1px 1px rgba(white, 0.5))
	user-select: none

.main-slider-prev, .main-slider-next
	&::before, &::after
		border-color: $main-slider-color

		+media('<mob-lg')
			border-color: $text-color

.main-slider-pagination
	position: absolute
	top: 0
	left: 0
	bottom: auto
	width: auto
	min-width: 35px
	padding-right: 20px
	+font-alt-italic
	+font(20px, 1)

	+media('<mob-lg')
		position: absolute
		width: auto
		min-width: 85px
		+padding-horizontal(25px)
		transform: translate(-50%, 0)
		+font-alt-italic
		+font(18px, 1)
		text-align: center
		color: $text-color

	&::after
		+pseudo()
		left: 100%
		top: 50%
		+size(100px, 0)
		border-top: 1px solid $main-slider-color
		margin-top: -1px

		+media('<desk-sm')
			width: 50px

		+media('<mob-lg')
			content: none

.main-slider__item
	position: relative
	text-align: center

	&::before
		$grad-color: black
		+pseudo()
		+size(100%)
		+position(0)
		//+linear-gradient(to right, rgba($grad-color, 0.33) 0%, rgba($grad-color, 0) 100%)
		background-color: rgba($grad-color, 0.25)
		z-index: -1

		+media('<mob-lg')
			content: none

	&::after
		content: ""
		display: inline-block
		vertical-align: middle
		height: 100%

.main-slider__img
	position: absolute
	+size(100%)
	+position(0)
	background-color: $bg-color-alt
	z-index: -2

	+media('<mob-lg')
		position: relative
		+size(auto)
		+position(auto)
		z-index: auto
		margin: -#{$layout-spaces--mob} -#{$layout-spaces--mob} 2.5rem

	&::before
		content: none
		display: block
		+ratio(172, 85)

		+media('<mob-lg')
			content: ""

	img
		display: block
		+size(100%)
		max-width: none
		+object-fit(cover)

		+media('<mob-lg')
			position: absolute
			left: 0
			top: 0

.main-slider__content
	+display-inline-block-top
	width: 1200px
	max-width: calc(100% - 10px)
	text-align: left

	+media('<desk-hd')
		width: 980px

	+media('<desk-sm')
		vertical-align: middle
		width: 750px

.main-slider__title
	$font-size: 72px
	$font-size--hd: 60px
	$font-size--lg: 48px
	$font-size--md: 44px
	$font-size--sm: 30px
	$font-size--mob: 26px
	$line-height: 1
	$line-height--sm: round-float(36/30, 1)
	// ===============
	display: block
	overflow: hidden
	margin-bottom: $bottom-space--lg
	+font-alt-bold
	+font($font-size, $line-height)
	width: 700px
	max-width: 100%
	max-height: round($font-size*$line-height*5) // maximum 5 line
	cursor: default

	+media('<desk-sm')
		width: 600px
		font-size: $font-size--md
		max-height: round($font-size--md*$line-height*5) // maximum 5 line

	+media('<mob-lg')
		width: auto
		font-size: $font-size--sm
		line-height: $line-height--sm
		max-height: round($font-size--sm*$line-height--sm*5) // maximum 5 line
		margin-bottom: 2rem

	+media('<mob-md')
		font-size: $font-size--mob
		max-height: round($font-size--mob*$line-height--sm*5) // maximum 5 line

	&:last-child
		margin-bottom: 0

.main-slider__footer
	.more-link
		+display-inline-block-top
		+font-d
		text-decoration: none
		color: inherit

		span
			+display-inline-block-top
			line-height: 1.5
			border-bottom: 2px solid

		&:hover
			color: $base-color

			span
				border-color: $base-color

/* main slider (home page) end

/* catalog - m-catalog (home page)
.m-catalog-title
	display: block
	+font-alt-bold
	+font($m-catalog-title__font-size, 1)
	letter-spacing: 0.05em
	margin-bottom: 0.7em

	+media('<desk-hd')
		font-size: $m-catalog-title__font-size--hd

	+media('<desk-lg')
		font-size: $m-catalog-title__font-size--lg

	+media('<mob-lg')
		margin-bottom: 0.5em

	+media('<mob-md')
		display: none

	&:last-child
		margin-bottom: 0

.m-catalog-list
	border-style: solid
	border-width: 0
	border-color: $border-color
	+clear-spacing

	// при переполненние контейнера (если добавить больше 8 категорий)
	// кастомный скролл (включив опцию fullPage.js scrollOverflow: true) не получается добавить
	// если высота контента (списка) нечетная, то округление высоты одного элемента списка (.m-catalog-item) происходит в болюшу сторону. Добавляется 1 лишний пиксел к общей высоте. Появляется скролл, хотя элементов не больше 8
	// Если же высоту элементов делать на 1 пиксел, то получается однопикселный отступ снизу, что будет резать глаз дизайнеру, менеджерам, клиенту и самому Б.
	// Опцию scrollOverflow не включаем. Лишние (больше 8) элементы списка обрезаются!

	&, .#{$user-content} &
		list-style: none
		margin: 0 -1px 0 0
		padding: 0

		li
			margin: -1px 0 0 -1px

			&::before
				content: none

	& > li
		// has styles on layout.sass
		//+display-inline-block-top
		float: left
		overflow: hidden
		width: calc(25% + 1px)
		position: relative
		letter-spacing: $letter-spacing
		border-style: solid
		border-color: inherit
		border-width: 1px
		background-color: $bg-color
		z-index: 5

		height: calc((100vh - #{$header-height})/2 + 1px)

		+media('<desk-lg')
			height: calc((100vh - #{$header-height--lg})/2 + 1px)

		+media('<desk-sm')
			width: calc(100%/2 + 1px)

		+media('<mob-lg')
			height: auto
			min-height: 168px
			width: calc(100% + 1px)

		+media('<mob-md')
			min-height: 138px

		&::after
			+pseudo()
			+size(100%, 0)
			left: 0
			bottom: 100%
			border-style: solid
			border-color: inherit
			border-width: 1px 0 0
			z-index: 10

		&:last-child
			&::after
				content: none

	$data-length: 'data-length' !default

	@for $i from 1 through 8
		@if $i == 1
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100% + 1px)
					height: calc(100vh - #{$header-height} + 1px)
					display: none

					+media('<desk-lg')
						height: calc(100vh - #{$header-height--lg} + 1px)

					+media('<desk-sm')
						height: calc((100vh - #{$header-height--lg})/2 + 1px)

					&:nth-child(-n+#{$i})
						display: block

					.m-catalog-img
						left: auto
						right: nth($m-catalog__space, 2)
						transform: none

						+media('<desk-sm')
							right: -6%

		@if $i == 2
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/2 + 1px)
					height: calc(100vh - #{$header-height} + 1px)
					display: none

					+media('<desk-lg')
						height: calc(100vh - #{$header-height--lg} + 1px)

					+media('<desk-sm')
						height: calc((100vh - #{$header-height--lg})/2 + 1px)

					&:nth-child(-n+#{$i})
						display: block

					.m-catalog-img
						left: auto
						right: nth($m-catalog__space, 2)
						transform: none

						+media('<desk-sm')
							right: -6%

		@if $i == 3
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/2 + 1px)
					display: none

					&:nth-child(-n+#{$i})
						display: block

					&:first-child
						height: calc(100vh - #{$header-height} + 1px)

						+media('<desk-lg')
							height: calc(100vh - #{$header-height--lg} + 1px)

						+media('<desk-sm')
							height: calc((100vh - #{$header-height--lg})/2 + 1px)
							width: calc(100% + 1px)

							.m-catalog-img
								right: nth($m-catalog__space, 2)

					.m-catalog-img
						left: auto
						right: nth($m-catalog__space, 2)
						transform: none

						+media('<desk-sm')
							right: -6%

		@if $i == 4
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/2 + 1px)
					display: none

					&:nth-child(-n+#{$i})
						display: block

					.m-catalog-img
						left: auto
						right: nth($m-catalog__space, 2)
						transform: none

						+media('<desk-sm')
							right: -6%

		@if $i == 5
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/3 + 1px)
					display: none

					+media('<desk-sm')
						width: calc(100%/2 + 1px)

					&:nth-child(-n+#{$i})
						display: block

					&:nth-child(-n+2)
						width: calc(100%/2 + 1px)

						.m-catalog-img
							right: nth($m-catalog__space, 2)

							+media('<desk-sm')
								right: -6%

					&:first-child
						+media('<desk-sm')
							height: calc((100vh - #{$header-height--lg})/2 + 1px)
							width: calc(100% + 1px)

						.m-catalog-img
							+media('<desk-sm')
								right: nth($m-catalog__space, 2)

					.m-catalog-img
						left: auto
						right: -6%
						transform: none

		@if $i == 6
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/4 + 1px)
					display: none

					+media('<desk-sm')
						width: calc(100%/2 + 1px)

					&:nth-child(-n+#{$i})
						display: block

					&:nth-child(7n + 1),
					&:nth-child(6n)
						width: calc(100%/4*2 + 1px)

						.m-catalog-img
							left: auto
							right: nth($m-catalog__space, 2)
							transform: none

							+media('<desk-sm')
								right: -6%

					.m-catalog-img
						+media('<desk-sm')
							left: auto
							right: -6%
							transform: none

		@if $i == 7
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/4 + 1px)
					display: none

					+media('<desk-sm')
						width: calc(100%/2 + 1px)

					&:nth-child(-n+#{$i})
						display: block

					&:nth-child(7n + 1)
						width: calc(100%/4*2 + 1px)

						.m-catalog-img
							left: auto
							right: nth($m-catalog__space, 2)
							transform: none

							+media('<desk-sm')
								right: -6%

					&:first-child
						+media('<desk-sm')
							height: calc((100vh - #{$header-height--lg})/2 + 1px)
							width: calc(100% + 1px)

						.m-catalog-img
							+media('<desk-sm')
								right: nth($m-catalog__space, 2)

					.m-catalog-img
						left: auto
						right: -6%
						transform: none
.m-catalog-img
	position: absolute
	left: 50%
	bottom: 0
	padding: 0
	margin: 0
	width: nth($m-catalog-img__size, 1)
	max-width: 80%
	transform: translate(-50%, 0)
	z-index: -1

	+media('<desk-hd')
		width: nth($m-catalog-img__size--hd, 1)

	+media('<desk-lg')
		width: nth($m-catalog-img__size--lg, 1)

	+media('<desk-sm')
		left: auto
		right: -6%
		transform: none

	+media('<mob-lg')
		right: $layout-spaces--mob
		width: nth($m-catalog-img__size--sm, 1)

	&::before
		+pseudo-block-relative()
		+ratio(nth($m-catalog-img__size, 1), nth($m-catalog-img__size, 2))

	& > div
		position: absolute
		+size(100%)
		+position(0)

	img
		+object-fit(contain)
		display: block
		width: 100%
		height: 100%
		max-width: none
		//backface-visibility: hidden
		//transform: translate(10px, 10px) scale(0.96)
		//transition:
			property: transform, opacity
			duration: $m-catalog-img-duration
			timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)

	// color effect
	&::after
		+pseudo()
		+size(100%)
		+position(0)
		background-color: rgba(white, 0.75)
		z-index: 2

		+media('<desk-sm')
			content: none

	img
		filter: grayscale(1)

		+media('<desk-sm')
			filter: grayscale(0)

// hover
.m-catalog-list > li:hover
	z-index: 10

	&::after
		content: none

	.m-catalog-img
		&::after
			opacity: 0

		img
			filter: grayscale(0)
			//transform: translate(0, 0) scale(1)

.m-catalog-sub-list

	&, .#{$user-content}
		list-style: none
		margin: 0
		padding: 0 10px 0 0

		li
			padding: 0
			margin: 0 0 18px

			&::before
				content: none

			&:last-child
				margin-bottom: 0

	li
		+font-d
		color: inherit
		overflow: hidden

		a
			color: inherit
			text-decoration: none
			padding-top: 0.5em

			span
				border-bottom: 2px solid $text-color
				border-color: inherit

			&:hover
				color: $base-color

				span
					border-color: $base-color

/* catalog - m-catalog (home page) end

/* services (home page)
$m-services-thumb-left: 160px
$m-services-thumb-left--lg: 100px
$m-services-thumb-left--sm: 40px
$m-services-thumb-indent: 320px
$m-services-thumb-indent--hd: 260px
$m-services-thumb-indent--lg: 160px
$m-services-thumb-indent--sm: 40px

.m-services-container
	height: 100%
	overflow: hidden
	position: relative
	+clear

.m-services
	height: 100%
	margin-left: auto
	margin-right: auto
	position: relative
	overflow: hidden
	z-index: 1

.m-services-visual
	float: left
	width: 50%
	height: 100%
	background-color: $bg-color-alt

	+media('<tab-lg')
		position: absolute
		right: 150%
		top: 0

.m-services-prev, .m-services-next, .m-services-pagination, .m-services__content
	user-select: none

.m-services__item
	position: relative

.m-services__img
	position: absolute
	+size(100%)
	+position(0)
	background-color: $bg-color-alt
	z-index: -1

	img
		display: block
		+size(100%)
		max-width: none
		+object-fit(contain)

.m-services-title
	display: block
	+font-alt-bold
	+font(48px, 1)
	letter-spacing: 0.05em
	color: inherit
	margin-bottom: 60px
	padding-left: $m-services-thumb-indent

	+media('<desk-hd')
		padding-left: $m-services-thumb-indent--hd
		margin-bottom: 46px

	+media('<desk-lg')
		padding-left: $m-services-thumb-indent--lg
		font-size: 36px
		margin-bottom: 0.75em

	+media('<desk-sm')
		font-size: 30px

	+media('<tab-lg')
		padding-left: 0

	+media('<mob-lg')
		margin-bottom: 0.5em

.m-services-pagination
	position: relative
	z-index: 5

	+media('<tab-lg')
		+margin-horizontal(-#{$layout-spaces--sm})
		+clear

	+media('<mob-lg')
		+margin-horizontal(-#{$layout-spaces--mob})

.m-services__letter
	display: block
	position: absolute
	top: 50%
	left: 100%
	width: 400px
	height: 400px
	transform: translate(-50%, -50%)
	//background-color: rgba($bg-color-alt, 0.35)

	svg
		display: block
		position: absolute
		top: 50%
		left: 50%
		margin-top: 50px
		width: 400px
		height: 400px
		transform: translate(-50%, -50%)
		font: 50vmin/1 'minionpro-bold', serif
		text-transform: uppercase

.m-services-thumbs
	position: relative
	float: right
	+size(50%, 100%)
	overflow-y: auto
	overflow-x: hidden
	z-index: 0

	+media('<tab-lg')
		float: none
		+size(auto, auto)
		overflow: visible

.m-services-thumbs-align
	position: relative
	//margin-right: -100px
	+padding-vertical($layout-spaces)
	min-height: 100%

	&::before
		+pseudo()
		left: $m-services-thumb-left
		top: 0
		+size(0, 100%)
		border: solid $border-color
		border-width: 0 0 0 1px
		z-index: 5
		pointer-events: none

		+media('<desk-lg')
			left: $m-services-thumb-left--lg

		+media('<tab-lg')
			content: none
			display: none
			left: $m-services-thumb-left--sm

.m-services-bullet
	display: block
	position: relative
	padding: 20px 0
	color: inherit
	+font(16px, 24px)
	text-decoration: none

	+media('<desk-hd')
		+padding-vertical(18px)

	+media('<tab-lg')
		float: left
		width: 50%
		padding: 10px $layout-spaces--sm

		&:nth-child(2n + 3)
			clear: both

	+media('<mob-lg')
		width: 100%
		float: none
		padding: 13px $layout-spaces--mob

	&::before
		+pseudo()
		+size(100%)
		+position(0)
		background-color: #fafafa
		opacity: 0
		z-index: -1

	+clear

	&::after
		+media('<mob-lg')
			+pseudo()
			left: $layout-spaces--mob
			right: $layout-spaces--mob
			top: 0
			height: 0
			border-top: 1px solid #bfbfbf

	&:first-child
		&::after
			border: none

	& > i
		display: block
		float: left
		width: $m-services-thumb-left
		+font-alt-italic
		font-size: 18px
		text-align: center
		+margin-vertical(1px, -1px)

		+media('<desk-lg')
			width: $m-services-thumb-left--lg

		+media('<tab-lg')
			width: $m-services-thumb-left--sm
			text-align: left

		&::after
			+pseudo()
			+position(0, $m-services-thumb-left)
			+size(0, 100%)
			border-right: 1px solid $border-color

			+media('<desk-lg')
				left: $m-services-thumb-left--lg

			+media('<tab-lg')
				content: none
				display: none
				left: $m-services-thumb-left--lg

	& > span
		position: relative
		display: block
		padding-left: $m-services-thumb-indent

		+media('<desk-hd')
			padding-left: $m-services-thumb-indent--hd

		+media('<desk-lg')
			padding-left: $m-services-thumb-indent--lg

		+media('<tab-lg')
			padding-left: $m-services-thumb-indent--sm

		&::before, &::after
			+pseudo()
			height: 0
			border: solid $text-color
			border-width: 1px 0 0
			top: 50%
			left: $m-services-thumb-left
			opacity: 0
			transform: scale3d(0, 1, 1)

			transition:
				property: transform, opacity
				duration: $animation-speed*2
				timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)

			+media('<desk-lg')
				left: $m-services-thumb-left--lg

			+media('<tab-lg')
				content: none
				display: none
				left: $m-services-thumb-left--sm

		&::before
			width: 30px
			margin-left: -30px
			transform-origin: right center

			+media('<desk-lg')
				width: 25px
				margin-left: -25px

		&::after
			width: 70px
			transform-origin: left center

			+media('<desk-lg')
				width: 25px

	.no-touchevents &:hover, .no-touchevents &.m-services-bullet-active
		&::before
			opacity: 1

		& > span
			color: $base-color

			&::before, &::after
				opacity: 1
				transform: scale3d(1, 1, 1)


/* services (home page) end

/* file download
.file-download
	margin-bottom: $bottom-space--md
	+font(12px, round-float(16/12, 2))
	letter-spacing: 0.05em

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

	a
		+display-inline-block-top
		padding: 5px 0 5px 36px
		color: $text-color
		text-decoration: none
		text-transform: uppercase
		background-image: url(../../img/depict-download.png)
		background-repeat: no-repeat
		background-size: 20px

		@if $animation-use
			transition:
				property: color
				duration: $animation-speed

		&:hover
			color: $base-color

/* file download end

/* tape slider (home page): News and Promotions
.tape-slider
	height: 100%
	//padding-bottom: 200px
	//background-color: $bg-color-alt
	color: $tape-slider-color

	// чтобы слайды не растягивало по высоте на 100%
	.swiper-wrapper
		align-items: flex-start

.tape-slider-prev, .tape-slider-next, .tape-slider-pagination, .tape-slider__content
	user-select: none

.tape-slider-prev, .tape-slider-next
	&::before, &::after
		border-color: $tape-slider-color

.tape-slider-pagination
	position: absolute
	left: 50%
	width: auto
	min-width: 85px
	+padding-horizontal(25px)
	transform: translate(-50%, 0)
	+font-alt-italic
	+font(18px, 1)
	text-align: center
	color: $text-color-light

	&::before, &::after
		+pseudo()
		+size(100px, 0)
		top: 50%
		border-top: 1px solid $tape-slider-color
		margin-top: -1px

		+media('<desk-sm')
			content: none
			display: none

	&::before
		right: 100%

	&::after
		left: 100%

	.swiper-pagination-current
		color: $tape-slider-color

.tape-slider__item
	position: relative
	width: 445px

	// News and Promotions
	height: auto
	max-height: none
	min-height: 0
	+clear

/* tape slider (home page): News and Promotions (end)

/* news previews
.news-preview__inner
	display: block
	position: relative
	text-decoration: none
	color: inherit
	padding-bottom: $news-preview-footer-height
	letter-spacing: $letter-spacing
	+clear

	height: 100%

	+media('<mob-md')
		padding: 0 $layout-spaces--mob $layout-spaces--mob

	.news-preview &
		+media('<mob-md')
			padding: 0

.news-preview__date
	display: block
	+font-alt-italic
	+font(18px, round-float(24/18, 2))
	color: $text-color-light
	margin-bottom: 2.6rem

	+media('<mob-lg')
		margin-bottom: 1.5rem

.news-preview__img
	position: relative
	+size(nth($news-preview-img-size, 1), auto)
	max-width: 100%
	background-color: $bg-color-alt

	+media('<mob-md')
		margin-bottom: 2rem

	&::before
		+pseudo-block-relative()
		+ratio(nth($news-preview-img-size, 1), nth($news-preview-img-size, 2))

	&::after
		$size: 80px
		+pseudo()
		+position(100%, 35px)
		+size(0, #{$size})
		margin-top: -#{round($size/2)}
		border-left: 1px solid $base-color

		+media('<mob-md')
			content: none

	img
		display: block
		position: absolute
		+position(0)
		+size(100%)
		max-width: none
		+object-fit(cover)

	.news-preview &
		+media('<desk-ml')
			width: nth($news-preview-img-size--sm, 1)

		+media('<tab-sm')
			margin-bottom: 2rem

		&::after
			+media('<tab-sm')
				content: none

.news-preview__content
	display: block
	position: relative
	float: right
	//width: 320px
	padding: round($grid-space*0.68) #{$grid-space}
	margin-top: -#{round(nth($news-preview-img-size, 2)/2)}
	margin-left: #{round(nth($news-preview-img-size, 2)/2)}
	background-color: $bg-color-base

	+media('<mob-md')
		float: none
		margin: 0 0 2rem
		padding: 0
		background: none

	.news-preview &
		+media('<desk-ml')
			margin-top: -#{round(nth($news-preview-img-size--sm, 2)/2)}
			margin-left: #{round(nth($news-preview-img-size--sm, 2)/2)}
			padding: round($grid-space--md*0.68) #{$grid-space--md}

		+media('<tab-sm')
			float: none
			margin: 0 0 2rem
			padding: 0
			background: none

.news-preview__text
	$this-font-size: $font-size
	$this-line-height: $line-height
	$this-font-size--sm: 1.5rem
	$this-line-height--sm: round-float(25/15, 2)
	// ===============
	display: block
	position: relative
	overflow: hidden
	+font($this-font-size, $this-line-height)
	height: round($this-font-size*$this-line-height*5) // maximum 5 line

	+media('<mob-md')
		height: auto
		//max-height: round($this-font-size*$this-line-height*5) // maximum 5 line

	// только для списка новостей (не на главной в слайдере)
	.news-preview &
		height: auto
		min-height: round($this-font-size*$this-line-height*5) // maximum 5 line

		+media('<desk-ml')
			+font($this-font-size--sm, $this-line-height--sm)
			min-height: round($this-font-size--sm*$this-line-height--sm*5) // maximum 5 line

		+media('<mob-md')
			min-height: 0

.news-preview__footer
	display: block
	position: absolute
	+size(100%, auto)
	bottom: 0
	left: 0

	+media('<mob-md')
		position: relative
		bottom: auto
		left: auto

	.news-preview &
		+media('<tab-sm')
			position: relative
			bottom: auto
			left: auto

	.more-link
		+display-inline-block-top
		+font-d($line-height: $news-preview-footer-height)
		text-decoration: none
		color: inherit

		span
			+display-inline-block-top
			border-bottom: 2px solid $tape-slider-color
			line-height: round($news-preview-footer-height - 2px)

		&:hover
			color: $base-color

			span
				border-color: $base-color

// no image
.no-image
	.news-preview__img
		background-image: url(../../img/no-img.png)
		background-color: $bg-color-alt
		background-position: center
		background-repeat: no-repeat
		background-size: 50%

.news-preview
	// Контейнер с новостями ограничиваем по ширине
	// Из-за конструкции блочка с текста сложно (невозможно) сохранять одинаковое количество символов
	max-width: $flood-layout-width

.news-preview__list
	margin-bottom: $bottom-space--lg
	+grid-parent($news-preview-space-between)
	+clear-spacing

	+media('<desk-lg')
		margin-bottom: 80px
		+grid-parent($layout-spaces--lg)

	+media('<desk-sm')
		+grid-parent($layout-spaces--sm)

	&:last-child
		margin-bottom: 0

.news-previews__item
	+grid-item(2, $news-preview-space-between)

	+media('<desk-lg')
		+grid-item-responsive(2, $layout-spaces--lg, 50px)

	+media('<desk-sm')
		+grid-item-responsive(2, $layout-spaces--sm, 50px)

	+media('<mob-md')
		+grid-item-responsive(1, $layout-spaces--sm, 40px)

// row view
.row-view-activated
	&.news-preview__list
		+grid-parent(0)

	.news-previews__item
		+grid-item-responsive(1, 0)
		border: dashed $border-color
		border-width: 0 0 1px
		height: auto !important

		&:first-child
			border-width: 1px 0

	.news-preview__inner
		padding: $grid-space 0

		+media('<mob-lg')
			padding: $grid-space--md 0

	.news-preview__date
		float: left
		width: 135px
		margin: -4px 0

		+media('<desk-ml')
			width: 120px

		+media('<mob-lg')
			float: none
			width: auto
			margin: 0 0 0.5em

	.news-preview__img
		float: left
		width: 50px
		margin-right: 50px
		margin-bottom: 0

		+media('<desk-ml')
			margin-right: 30px

		+media('<mob-lg')
			margin-right: 20px

		&::after
			content: none

	.news-preview__content
		float: none
		overflow: hidden
		margin: -8px 0 // Костыль. Выравнять текст и картинку по горизонтали
		padding: 0
		background-color: transparent

		+media('<desk-ml')
			margin: -6px 0 // Костыль. Выравнять текст и картинку по горизонтали

	.news-preview__text
		height: auto
		min-height: 0
		max-height: none

	.news-preview__footer
		display: none

	// hover
	// if link
	a.news-preview__inner:hover
		.news-preview__text
			color: $base-color

/* news previews end

/* previews tabs
// container
.previews-tabs
	position: relative
	height: 100%

// nav
.previews-tabs__nav
	position: absolute
	+size(100%, auto)
	+position(0)
	z-index: 5

	+media('<desk-sm')
		position: relative
		left: auto
		top: auto

	.view-all
		float: right

		+media('<mob-lg')
			float: none

		a
			display: none

			.activeIs-newsPreviews &.all-news
				display: inline-block

			.activeIs-newsPromotions &.all-promotions
				display: inline-block

.previews-tabs__thumbs
	+display-inline-block-top
	+clear-spacing
	position: relative
	padding-right: 50px

	+media('<desk-sm')
		padding-right: 30px

	+media('<mob-lg')
		display: block
		//padding-right: 0
		margin-bottom: 1rem

	&::before, &::after
		+pseudo()
		+size(100px, 0)
		top: 50%
		border-top: 1px solid $tape-slider-color
		margin-top: -1px

		+media('<desk-sm')
			width: 50px

	&::before
		content: none

	&::after
		left: 100%

		+media('<mob-lg')
			content: none

	.heading &
		margin-bottom: round($bottom-space--lg/2)

		+media('<desk-lg')
			margin-bottom: round($bottom-space--ml/2)

.previews-tabs__tab
	position: relative
	+display-inline-block-top
	+font-alt-bold
	+font($previews-tab-font-size, $previews-tab-line-height)
	letter-spacing: $letter-spacing
	padding-right: $previews-tab-space

	+media('<desk-lg')
		+font($previews-tab-font-size--lg, $previews-tab-line-height--lg)

	+media('<desk-sm')
		+font($previews-tab-font-size--sm, $previews-tab-line-height--sm)

	+media('<mob-lg')
		//padding-right: $previews-tab-space--sm
		padding-right: 0
		display: block
		margin-bottom: 0

	&::after
		+pseudo()
		+size(0, $previews-tab-line-height)
		top: 50%
		right: round-float($previews-tab-space/2, 1) // нужны десятые
		border-left: 2px solid $text-color-light
		margin-top: -1px
		transform: translate(0, -50%)

		+media('<desk-lg')
			height: $previews-tab-line-height--sm

		+media('<mob-lg')
			display: none
			//height: $previews-tab-line-height--mob
			//right: round-float($previews-tab-space--sm/2, 1) // нужны десятые

	&:last-child
		padding-right: 0

		&::after
			content: none

	a
		text-decoration: none
		color: inherit

		span
			border-bottom: 2px solid transparent

		// hover
		&:hover:not(.active-tab)

			span
				border-color: $text-color

		// active
		&.active-tab
			color: $base-color
			cursor: default

// panels
.previews-tabs__panels
	height: 100%
	overflow: hidden

.previews-tabs__panel
	height: 100%

	// эффект смены табов
	//.tape-slider
		will-change: opacity, transform
		//transform: translate3d(0, -200px, 0)
		transform: scale(1.1) translateZ(0)
		opacity: 0
		transition:
			property: transform, opacity
			duration: $animation-speed*3
			//timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)
			timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96)

	//&.active-tab .tape-slider
		opacity: 1
		//transform: translate3d(0, 0, 0)
		transform: scale(1) translateZ(0)

/* previews tabs end

/* box options
.box-options
	margin-bottom: $bottom-space--lg
	+clear

	+media('<desk-lg')
		margin-bottom: 3rem

	+media('<mob-lg')
		display: none

	&:last-child
		margin-bottom: 0

.box-options__label
	float: left
	min-height: 10px
	+font-alt-italic
	+font(1.8rem, round-float(30/18, 2))
	color: $text-color-light

	+media('<desk-md')
		display: none

/* box options end

/* custom table
.c-table
	display: table
	width: 100%

.c-thead
	display: table-header-group

.c-tbody
	display: table-row-group

.c-tfoot
	display: table-footer-group

.c-tr
	display: table-row
	color: inherit
	text-decoration: none

a.c-tr:hover
	color: $link-color

.c-th, .c-td
	display: table-cell

.c-th
	padding: round($grid-space*0.5) #{$grid-space--md}
	border: solid $bg-color-base
	border-width: 0 0 0 2px
	background-color: $bg-color-alt
	+font-bold
	font-size: 13px
	line-height: round-float(17/13, 2)
	letter-spacing: 0.1em
	text-transform: uppercase

	+media('<desk-lg')
		padding: round($grid-space*0.5) #{$grid-space--md}

	+media('<desk-md')
		font-size: 1.3rem
		letter-spacing: normal
		padding: round($grid-space--sm*1.5) #{$grid-space--sm}

	&:first-child, &.c-th--title
		border: none

	& > svg
		+display-inline-block-top

	&.c-th--del
		width: 82px
		text-align: center
		+padding-horizontal(5px)

		& > span
			+hide-text

.c-td
	padding: round($grid-space*0.93) $grid-space--md
	vertical-align: middle
	border-bottom: 1px solid $border-color
	border-left: 2px solid white
	+font(1.6rem, round-float(24/16, 1))

	+media('<desk-lg')
		font-size: 1.4rem
		padding: round($grid-space--sm*0.93) #{$grid-space--sm}

	+media('<desk-sm')
		letter-spacing: normal

	+media('<mob-lg')
		+padding-vertical(round($grid-space--sm*0.6))

	&:first-child, .order-calc &.c-td--title
		border-left: none

	.c-tr:first-child &
		+media('>=tab-lg')
			border-top: 1px solid $border-color

	a
		text-decoration: none
		color: inherit

		.no-touchevents &:hover
			color: $link-color

	// стили для конкретных ячеек
	&.c-td--caption
		+padding-vertical(round($grid-space*0.93 - 18))

		//.order-calc & .img-for-table
			display: none

	&.c-td--growth
		min-width: 100px

		+media('<desk-sm')
			min-width: 80px

	&.c-td--price
		min-width: 130px

		+media('<desk-sm')
			min-width: 110px

	&.c-td--del
		+media('>=tab-lg')
			padding: 0
			text-align: center

		.btn-del
			+size($table__del--size)

	//&.c-td--spinner
		text-align: center

		+media('<tab-lg')
			text-align: left

// hover
.c-tr
	.no-touchevents &:hover
		.c-td
			background-color: $bg-color-light

.c-table-result
	position: relative
	//margin-top: -1px
	line-height: 0
	background-color: $bg-color-alt
	+clear

.c-table-result__total
	+display-inline-block-middle
	+font-d($line-height: 20px)
	padding: 15px $grid-space--md

	+media('<desk-md')
		+padding-horizontal($grid-space--sm)

.c-table-result__label
	+display-inline-block-top
	margin-right: 10px

	+media('<mob-md')
		display: block
		margin-right: 0

.c-table-result__count,
.c-table-result__price
	color: $base-color

// for device (after transform)
.c-table, .c-thead, .c-tbody, .c-tfoot, .c-tr, .c-th, .c-td
	+media('<tab-lg')
		display: block

.c-thead, .c-th
	+media('<tab-lg')
		display: none

.c-tbody
	+media('<tab-lg')
		display: flex
		flex-wrap: wrap
		justify-content: space-between

.c-tr
	+media('<tab-lg')
		width: calc(50% - #{round($grid-space/2)})
		margin-bottom: $grid-space
		border: 1px solid $border-color

	+media('<mob-lg')
		width: 100%
		margin-bottom: $grid-space--md

	// список заказов в кабинете
	.history-orders &
		+media('<tab-lg')
			width: calc(33.3% - #{round($grid-space/2)})

		+media('<tab-sm')
			width: calc(50.0% - #{round($grid-space/2)})

		+media('<mob-lg')
			width: calc(50.0% - #{round($grid-space--md/2)})

		+media('<mob-md')
			width: 100%

.c-td
	+media('<tab-lg')
		display: flex
		//align-items: flex-start
		align-items: center
		border: none

		// список заказов в кабинете
		.history-orders &:nth-child(even)
			background-color: $bg-color-light

	&[data-label]::before
		content: attr(data-label) ':'
		width: 130px
		padding-right: 15px
		+font-bold
		text-transform: uppercase

		display: none

		+media('<tab-lg')
			display: block
			font-size: 12px

		// список заказов в кабинете
		.history-orders &
			width: 50%
			font-size: 11px

	&.c-td--caption
		+media('<tab-lg')
			margin: -1px -1px 1rem
			font-size: 1.6rem
			line-height: round-float(20/16, 2)
			border: 1px solid $border-color

		&::before
			+media('<tab-lg')
				content: none

	&.c-td--del
		+media('<tab-lg')
			border-top: 1px solid $border-color
			margin-top: 10px

		.btn-del
			+media('<tab-lg')
				+size(auto)
				display: flex
				align-items: center
				justify-content: center
				+push-auto
				width: 100%

				svg
					position: relative
					left: auto
					top: auto
					margin: 0 10px 0 0

				& > span
					display: block

	//&.c-td--spinner
		+media('<tab-lg')
			padding: 1rem 0 0

		&::before
			+media('<tab-lg')
				content: none

		+media('<tab-lg')
			.ui-spinner
				display: block
				margin: 0 -1px -1px
				+padding-horizontal(30px)

			.ui-spinner-input, .ui-spinner-input[type="text"]
				width: 100%
				//height: 40px

			//.ui-spinner-button
				width: 40px

[data-label] .c-td__val
	+media('<tab-lg')
		flex: 1 1

// hover for device
.c-tr
	+media('<tab-lg')
		.no-touchevents &:hover
			.c-td
				background-color: transparent

/* custom table end

/* color pic
.color-pics
	cursor: default

.color-pic
	+display-inline-block-top
	+size(16px)
	border-radius: 50%
	+font(0, 0)
	
	&[style*="#fff"]
		box-shadow: inset 0 0 0 1px #d9d9d9

	.color-pics &
		margin-right: 16px
		margin-top: 10px

/* color pic end

/* order list
// === title ===
.caption-for-table
	display: flex
	align-items: center

	.order-calc &
		+media('<desk-sm', '>=tab-lg')
			display: block

// === img ===
.img-for-table
	display: block
	width: nth($table__img--size, 1)*1px
	text-decoration: none
	color: inherit
	position: relative

	.caption-for-table &
		margin-right: $grid-space--md

		+media('<desk-sm')
			margin-right: $grid-space--sm

		.order-calc &
			+media('<desk-sm', '>=tab-lg')
				margin-right: 0
				margin-bottom: $grid-space--sm

	.no-image &
		background: url(../../img/no-img-product.png) no-repeat center
		background-size: contain

	&::after
		content: ""
		display: block
		+ratio(nth($table__img--size, 1), nth($table__img--size, 2))

	img
		+cover-abs
		display: block
		max-width: none
		+object-fit(contain)

// === title ===
.title-for-table
	.caption-for-table &
		flex: 1 1

// === color ===
.order-list__color
	white-space: nowrap
	vertical-align: middle
	overflow: hidden

	+media('<desk-ml')
		text-align: center

	+media('<tab-lg')
		text-align: left

	.color-pic
		vertical-align: middle
		margin-right: 5px

		+media('<desk-ml')
			display: block
			margin: 0 auto

		+media('<tab-lg')
			display: inline-block

	.dash
		+media('<desk-ml')
			display: none

		+media('<tab-lg')
			display: inline

	.color-name
		+media('<desk-md')
			display: none

		+media('<tab-lg')
			display: inline

// === results ===
.c-table-result__total
	&.hide-before-calc
		display: none

	&.show
		display: inline-block

		+media('<tab-sm')
			display: block

.order-calc-btn
	float: right
	min-width: 240px

	+media('<tab-sm')
		float: none
		display: block
		width: auto

	+media('<mob-lg')
		width: 100%

/* order list end

/* stock tape
.stock-tape
	display: block
	position: relative
	+size(90px, 10px)
	//+push-auto
	background-color: $bg-color-base
	box-shadow: inset 0 0 0 1px $border-color

	+media('<desk-md')
		+size(70px, 16px)

	+media('<tab-lg')
		+size(90px, 10px)
		margin: 0

		//[data-label] &
			margin: 5px 0 0

.stock-tape-value
	background-color: gray
	+cover-abs
	text-indent: -9999px
	overflow: hidden

	// from 1% to 50%
	// from 1% to 50%-td--size
	+grad-per-value($color: #d70000 #d7d700, $val: 1 50)

	// from 51% to 100%
	+grad-per-value($color: #d7d700 #009b00, $val: 51 100)

/* stock tape end

/* pseudotabs
.pseudotabs
	margin-bottom: $bottom-space--lg

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

.pseudotabs-nav
	+clear-spacing
	margin: 0 -20px round($bottom-space--lg/2)

	+media('<desk-lg')
		margin-bottom: round($bottom-space--ml/2)

	+media('<tab-sm')
		+margin-horizontal(-10px)

	&.align-center
		text-align: center

.pseudotabs-tab
	+font-d
	+display-inline-block-top
	margin: 0 20px round($bottom-space--lg/2)

	+media('<desk-lg')
		margin-bottom: round($bottom-space--ml/2)

	+media('<tab-sm')
		+margin-horizontal(10px)

	a
		display: block
		color: $text-color
		text-decoration: none
		
		span
			border-bottom: 2px dotted $text-color
			display: inline-block
			vertical-align: top
			padding: 0 0 2px

		// hover
		&:hover
			color: $link-color

			span
				border-color: $link-color

		// active
		&.active-tab
			color: $link-color

			span
				border-color: transparent

/* pseudotabs end

/* list dividers
.list-dividers
	&, .#{$user-content} &
		padding: 0
		//margin: 0 0 $bottom-space

		li
			padding: 20px 0
			margin: 0

			&::before
				content: none

	li
		border: solid $border-color
		border-width: 0 0 1px

		&:first-child
			border-width: 1px 0

/* list dividers end

/* bag list
.bag
	overflow: hidden
	margin-bottom: $bottom-space--lg

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

//.bag__list

.bag__item
	position: relative
	+font($font-size--sm, round-float(24/16, 2))
	letter-spacing: $letter-spacing
	padding-right: 50px
	padding-bottom: 20px

	+media('<mob-md')
		padding-right: 30px

	&:last-child
		padding-bottom: 0

.bag__inner
	position: relative
	display: table
	width: 100%
	text-decoration: none
	color: inherit
	+clear

.bag__cell
	display: table-cell
	vertical-align: top
	+padding-horizontal(round($grid-space/2))
	word-wrap: break-word

	&:first-child
		padding-left: 0

	&:last-child
		padding-right: 0

	&.bag__cell--price
		width: 110px
		min-width: 110px
		text-align: right

		+media('<mob-md')
			text-align: inherit
			+font-bold

.bag__group
	display: table
	width: 100%

	+media('<mob-md')
		display: block

	.bag__cell
		+media('<mob-md')
			display: block
			padding: 0
			width: auto
			min-width: auto

.bag__img
	$img-size: 52px, 70px

	&
		display: block
		text-decoration: none
		color: inherit
		position: relative
		margin: 3px 0 0
		+size(nth($img-size, 1), auto)

		.no-image &
			background: url(../../img/no-img-product.png) no-repeat center
			background-size: contain

	&::after
		+pseudo-block-relative()
		+ratio(nth($img-size, 1), nth($img-size, 2))

	img
		+cover-abs
		display: block
		width: 100%
		height: 100%
		max-width: none
		+object-fit(contain)

.bag__text
	color: $text-color-light

// hover
a.bag__inner:hover
	.bag__title
		color: $link-color

// del btn
.bag__item
	.btn-del
		$btn-size: 12px
		// ============
		+size($btn-size)
		display: block
		position: absolute
		right: 0
		top: 4px

/* bag list end

/* bag footer
.bag-footer__row
	display: flex
	justify-content: space-between
	align-items: flex-start
	+font-d
	margin-bottom: 20px

	+media('<mob-lg')
		margin-bottom: 10px

	&:last-child
		margin-bottom: 0

	[class*="btn-"]
		display: block
		width: 100%
		text-align: center
		+padding-horizontal(10px)

.bag-footer__cell
	+display-inline-block-top

/* bag footer end

/* contacts
.contacts
	position: relative
	+clear

.contacts-page
	.content
		+media('>=tab-lg')
			padding: 0

	.breadcrumbs, .heading
		+media('>=tab-lg')
			display: none

	+media('<tab-lg')
		background-color: $bg-color-alt

/* contacts end

/* contacts map
.contacts__map
	float: left
	width: 50%
	will-change: min-height
	position: relative
	min-height: 50px
	height: calc(100vh - #{$header-height})

	+media('<desk-lg')
		height: calc(100vh - #{$header-height--lg})

	+media('<tab-lg')
		float: none
		width: auto
		height: 480px
		margin-bottom: $bottom-space--ml

	+media('<tab-sm')
		height: 320px

	+media('<mob-lg')
		height: 260px
		+margin-horizontal(-$layout-spaces--mob)

	&:last-child
		margin-bottom: 0

.contacts__map__holder
	height: 100%
	transform: translate(0, 0) /* For browsers don't support translate3d. */
	transform: translate3d(0, 0, 0)
	will-change: position, transform
	background: $bg-color-alt url(../../img/__temp-map.jpg) no-repeat
	background-size: cover

	.map-container
		height: 100%

	.contacts-map__frame
		height: 100%
		background: $bg-color-selected

/* contacts map end

/* map popup
.map-popup__title,
.map-popup__subtitle
	display: block
	+font-alt-bold
	+font(20px, 24px)
	margin-bottom: 0.3em
	color: $title-color

.map-popup__subtitle
	+font(18px, 22px)
	margin-bottom: 0.7em

.map-popup__row
	+font(14px, 18px)
	padding: 0 0 0.8em
	+clear

	sup, sub
		font-size: 0.6em

	//[class*="depict"]
		+size(18px)
		float: left
		margin-right: 1rem

		& + div
			overflow: hidden

/* map popup end

/* contacts info
.contacts__info
	float: left
	width: 50%
	background-color: $bg-color-light
	min-height: calc(100vh - #{$header-height})
	padding: #{round($layout-spaces*0.9)} #{$layout-spaces}

	+media('<desk-hd')
		padding: #{round($layout-spaces--hd*0.9)} #{$layout-spaces--hd}

	+media('<desk-lg')
		padding: #{round($layout-spaces--hd*0.9)} #{$layout-spaces--lg}

	+media('<desk-sm')
		padding: #{round($layout-spaces--sm*0.9)} #{$layout-spaces--sm}

	+media('<tab-lg')
		float: none
		width: auto
		padding: 0
		background-color: transparent
	
// container
.contacts-tabs
	position: relative

// nav
.contacts-tabs__nav
	z-index: 5
	margin-bottom: $bottom-space--lg

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	+media('<tab-lg')
		max-width: $text-layout-width
		+push-auto

	+media('<960px')
		max-width: none

.contacts-tabs__thumbs
	+display-inline-block-top
	+clear-spacing
	position: relative

.contacts-tabs__tab
	$this-space: 1.6em
	$this-font-size: 36px
	$this-font-size--md: 32px
	$this-font-size--sm: 26px
	//=================
	position: relative
	+display-inline-block-top
	+font-alt-bold
	+font($this-font-size, round-float(42/36, 2))
	letter-spacing: $letter-spacing
	padding-right: $this-space

	+media('<desk-lg')
		font-size: $this-font-size--md

	+media('<desk-sm')
		font-size: $this-font-size--sm

	+media('<mob-lg')
		display: block
		padding-right: 0
		margin-bottom: 0.4em

	&::after
		+pseudo()
		+size(0, $this-font-size)
		top: 50%
		right: round-float($this-space/2, 1) // нужны десятые
		border-left: 2px solid $text-color-light
		margin-top: -1px
		transform: translate(0, -50%)

		+media('<mob-lg')
			display: none

	&:last-child
		padding-right: 0
		margin-bottom: 0

		&::after
			content: none

	a
		text-decoration: none
		color: inherit

		span
			border-bottom: 2px solid transparent

			+media('<mob-lg')
				border-style: dotted
				border-color: $text-color
				border-width: 0 0 2px

		// hover
		&:hover:not(.active-tab)

			span
				border-color: $text-color

		// active
		&.active-tab
			color: $base-color
			cursor: default

			span
				+media('<mob-lg')
					border-color: transparent

// panels
//.contacts-tabs__panels

//.contacts-tabs__panel

.contacts-box
	border-top: 1px dashed #b4b4b4
	padding: $grid-space 0

	+media('<tab-lg')
		max-width: $text-layout-width
		+push-auto

	+media('<960px')
		max-width: none

	+media('<tab-sm')
		+padding-vertical(20px)

	&:last-child
		padding-bottom: 0

.contacts-box__item
	margin-bottom: $bottom-space--md
	+clear

	+media('<tab-sm')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

.contacts-box__label, .contacts-box__title
	position: relative
	+font-d($line-height: 24px)

.contacts-box__title
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

.contacts-box__label
	float: left
	padding-right: 120px
	width: calc(100% - 320px)

	+media('<desk-lg')
		padding-right: 80px
		width: calc(100% - 260px)

	+media('<desk-md')
		padding-right: 10px

	+media('<desk-sm')
		float: none
		width: auto
		padding-right: 0
		padding-bottom: $bottom-space
		margin-bottom: $bottom-space

	&::after
		+pseudo()
		top: 13px
		right: 50px
		+size(50px, 0)
		border: solid $text-color
		border-width: 1px 0 0

		+media('<desk-lg')
			right: 25px
			width: 40px

		+media('<desk-md')
			content: none

		+media('<desk-sm')
			content: ""
			right: auto
			left: 0
			top: auto
			bottom: 0
			width: 50px

	.contacts-box__title ~ .contacts-box__item &
		+font-normal
		+font(16px, 24px)
		text-transform: none
		letter-spacing: 0.08em

.contacts-box__content
	overflow: hidden

.contacts-box__dt
	+font-alt-italic
	+font(18px, 24px)
	color: $text-color-light
	letter-spacing: 0.1em

.contacts-box__dd
	+font-alt
	+font(30px, round-float(36/30, 2))
	margin-bottom: 0.5em

	+media('<desk-hd')
		font-size: 28px

	+media('<desk-lg')
		font-size: 24px

	a
		color: inherit
		text-decoration: none
		word-wrap: break-word

		&:hover
			text-decoration: underline

	&:last-child
		margin-bottom: 0

.contacts__info
	.user-form
		padding: 0
		background: none

		.layout-text
			+media('>=tab-lg')
				max-width: none

			+media('<960px')
				max-width: none

		.input-wrap
			+media('<desk-sm')
				margin-bottom: 30px

		.label-holder
			+media('<desk-md')
				width: $uf-label-width--md

			+media('<desk-sm')
				width: $uf-label-width--sm

			+media(#{$media--md})
				width: auto

			label
				+media('<desk-sm')
					font-size: 13px

		.input-holder
			+media('<desk-md')
				margin-left: $uf-label-width--md

			+media('<desk-sm')
				margin-left: $uf-label-width--sm

			+media(#{$media--md})
				margin-left: 0

		.form-footer
			+media('<desk-sm')
				padding-top: 30px

		.form-note
			+media('<mob-lg')
				padding-bottom: 0

/* contacts info end

/* options panel
.p-options
	position: relative
	margin-bottom: 6rem

	+media('<desk-sm')
		margin-bottom: 4rem

	+media('<tab-lg')
		border: 1px solid $border-color

	+media('<mob-lg')
		margin-bottom: 3rem

	&:last-child
		margin-bottom: 0

.p-options__list
	display: flex
	justify-content: flex-end
	align-items: center
	flex-wrap: nowrap

	//.no-flexbox &
		display: table
		width: 100%
		table-layout: fixed

	+media('<mob-lg')
		//display: block
		position: relative
		padding-right: 60px
		min-height: 80px

.p-options__item
	+font-d($line-height: 1)
	text-align: center

	+media('<tab-lg')
		font-size: 12px

	&:first-child
		text-align: left
		flex: 1 1

		+media('<tab-lg')
			padding: round($grid-space/2) $grid-space

		+media('<mob-lg')
			padding: round($grid-space--md/2) $grid-space--md

	&:last-child
		text-align: right

	.no-flexbox &
		display: table-cell
		vertical-align: middle

	.view-switcher
		+display-inline-block-top

		+media('<tab-lg')
			display: block
			height: 100%

	&.p-options__item--filters-show,
	&.p-options__item--view-switcher
		+media('<tab-lg')
			+size(60px)
			border: 1px solid $border-color
			margin: -1px -1px -1px 0

		+media('<mob-lg')
			position: absolute
			right: -1px
			bottom: -1px
			margin: 0
			height: calc(50% + 2px)

	&.p-options__item--filters-show
		display: none

		+media('<tab-lg')
			display: block

		+media('<mob-lg')
			top: -1px
			height: calc(50% + 1px)

.btn-filters-show
	position: relative
	+display-inline-block-top
	color: $text-color
	user-select: none

	+media('<tab-lg')
		display: block
		height: 100%

	& > span
		+hide-text

	svg
		+display-inline-block-top
		+size(24px)

		.p-options__item &
			+media('<tab-lg')
				position: absolute
				left: 50%
				top: 50%
				margin: -12px 0 0 -12px

	path
		fill: currentColor

	// hover
	.no-touchevents &:hover
		color: $base-color


//.view-switcher-wrap
	+media('<tab-lg')
		display: none

.p-options__inner
	position: relative
	height: 100% // нужно, когда принимают форму квадрата на девайсах

.p-options__group
	display: flex
	justify-content: flex-start
	align-items: center
	user-select: none
	text-align: left

	//+media('<tab-lg')
		justify-content: flex-end

	//+media('<tab-sm')
		justify-content: center

	.p-options__label
		+display-inline-block-middle
		margin: 4px 25px 4px 0
		+font(inherit, inherit)
		color: $text-color-light

		+media('<desk-md')
			margin-right: 15px

		+media('<tab-sm')
			display: none

.p-sorting
	+display-inline-block-middle

	&, .#{$user-content} &
		margin: 0

		li
			padding: 0
			margin: 4px 18px 4px 0

			+media('<desk-md')
				margin-right: 10px

			&::before
				content: none

	//&.active
		padding-right: 38px

	li
		+display-inline-block-top
		white-space: nowrap
		position: relative
		cursor: pointer

		// стрелочка развернута ВВЕРХ, сортировака ПО ВОЗРАСТАНИЮ
		.arr
			position: absolute
			top: 50%
			right: 0
			+triangle(top, #{$text-color}, 4px, 2)
			margin-top: -4px
			opacity: 0
			transform: rotate(0) translateZ(0)
			transition:
				property: transform, opacity
				duration: $animation-speed

			.order-desc &
				transform: rotate(0.5turn) translateZ(0)

	a
		display: block
		position: relative
		text-decoration: none
		color: inherit
		padding: 0 12px 0 0

		// hover
		&:hover
			color: $base-color

		& > span em
			display: none
			font-style: inherit
			font-weight: inherit
			font-family: inherit

			+media('<tab-sm')
				display: inline

	// активное соотояние
	li.active

		a
			color: $base-color

			& > span
				border-bottom-color: transparent

			// стрелочка развернута ВНИЗ, сортировака ПО УБЫВАНИЮ
			.arr
				opacity: 1
				border-bottom-color: $base-color

/* options panel end