@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.m-wrapper
	position: relative
	padding-right: 1px
	margin-bottom: $bottom-space--lg
	z-index: 15
	user-select: none

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

/* logo
.logo
	position: relative
	float: left
	width: $logo-width
	height: $header-height
	background-color: $base-color
	z-index: 5

	&::before
		+pseudo()
		+position(0)
		+size(100%)
		background-repeat: no-repeat
		background-size: cover
		background-image: url(../../img/logo.png)

	a
		position: relative
		display: block
		height: 100%
		z-index: 5

		& > span
			+hide-text

/* logo end

/* scroll to
.scroll-to
	text-align: center

	a
		+font-d
		text-decoration: none
		color: $text-color
		fill: $text-color

		@if $animation-use
			transition:
				property: color
				duration: $animation-speed

	svg
		+display-inline-block-middle
		+size(40px)

	path
		fill: inherit

		@if $animation-use
			transition:
				property: fill
				duration: $animation-speed

	// hover
	a:hover
		color: $link-color
		fill: $link-color

/* scroll to end

/* short contacts
.short-contacts-wrap
	text-align: center

.short-contacts
	$icon-size: 22px
	$icon-space: 14px

	&, .#{$user-content} &
		list-style: none
		margin: 0
		padding: 0

		li
			padding: 0 0 10px
			margin: 0

			&:last-child
				padding-bottom: 0

			&::before
				content: none

	&
		+display-inline-block-top
		text-align: left
		width: 100%

	li
		+clear-spacing
		+clear
		color: $text-color
		cursor: default

	svg
		float: left
		+size($icon-size)
		margin-right: $icon-space

	path, use
		fill: $text-color-light

	a, & li > div
		display: block
		+font(16px, #{$icon-size})
		margin-left: #{$icon-size + $icon-space}
		color: inherit
		text-decoration: none
		//transition:
			property: color
			duration: $animation-speed

		sub, sup
			font-size: 0.6em

		& ~ a
			margin-top: 5px

		span
			letter-spacing: normal

		&[href]
			span
				border-bottom: 1px solid tint($text-color, 40%)

				@if $animation-use
					transition:
						property: border-color
						duration: $animation-speed

		&[href^="mailto:"]
			word-wrap: break-word

		&[href^="tel:"], a[href]
			span
				border-bottom-color: transparent

		.no-touchevents &[href]:not([href^="tel:"]):hover
			color: $base-color

			span
				border-bottom: 1px solid tint($base-color, 40%)

/* short contacts end

/* departments
$dep-space: 24px, 28px
$dep-img-size: 80px, 120px // width, height

.dep-list
	border-style: solid
	border-width: 0 1px 1px
	border-color: $border-color
	//display: flex
	//flex-direction: column-reverse
	+clear-spacing

	&, .#{$user-content} &
		list-style: none
		margin: 0 0 $bottom-space--md
		padding: 0

		+media('<desk-lg')
			margin-bottom: $bottom-space--ml

		&:last-child
			margin-bottom: 0

		& > li
			padding: nth($dep-space, 1) #{nth($dep-space, 2) + nth($dep-img-size, 1)} nth($dep-space, 1) nth($dep-space, 2)
			margin: 0

			&::before
				content: none

	& > li
		position: relative
		border-style: solid
		border-color: inherit
		border-width: 1px 0 0
		min-height: 105px
		background-color: $bg-color
		z-index: 5
		overflow: hidden

		&:first-child
			overflow: visible

.dep-img
	position: absolute
	right: nth($dep-space, 2)
	bottom: 0
	padding: 0
	margin: 0
	width: nth($dep-img-size, 1)
	+font($font-size, $letter-spacing)

	&::before
		+pseudo-block-relative()
		+ratio(nth($dep-img-size, 1), nth($dep-img-size, 2))

	& > div
		position: absolute
		+size(100%)
		+position(0)

	img
		+object-fit(contain)
		display: block
		width: 100%
		height: 100%
		max-width: none
		opacity: 0.5
		filter: grayscale(1)

	// color effect
	//&::after
		+pseudo()
		+size(100%)
		+position(0)
		background-color: rgba(white, 0.75)
		z-index: 2

	& > div:first-child img
		filter: brightness(0) invert(1)
		opacity: 1

// hover
.dep-list > li:hover
	z-index: 10 !important
	overflow: visible !important

	&::after
		content: none

	.dep-img
		&::after
			opacity: 0

		img
			filter: grayscale(0)

.dep-sub-list

	&, .#{$user-content} &
		list-style: none
		margin: 0
		padding: 0 10px 0 0

		li
			padding: 0
			margin: 0 0 18px

			&::before
				content: none

			&:last-child
				margin-bottom: 0

	li
		+font-d
		color: inherit

		a
			color: inherit
			text-decoration: none

			&:hover
				color: $base-color

// horizontal view
.dep-list--horizontal
	$items-in-row: 4
	$items-in-row--hd: 2

	display: block
	border-width: 0

	&, .#{$user-content} &
		& > li
			margin: -1px 0 0 -1px

	& > li
		+display-inline-block-top
		width: calc(#{round-float(100%/$items-in-row, 2)} + 1px)
		border-width: 1px
		overflow: hidden

		&:nth-child(-n+#{$items-in-row})
			overflow: visible

		+media('<desk-hd')
			width: calc(#{round-float(100%/$items-in-row--hd, 2)} + 1px)
			overflow: hidden

			&:nth-child(-n+#{$items-in-row})
				overflow: hidden

			&:nth-child(-n+#{$items-in-row--hd})
				overflow: visible

/* departments end

/* main slider (home page)
.main-slider
	//width: 600px
	height: 100%
	background-color: $bg-color-alt
	color: $main-slider-color

.main-slider-prev, .main-slider-next, .main-slider-pagination, .main-slider__content
	//filter: drop-shadow(1px 1px rgba(white, 0.5))
	user-select: none

.main-slider-prev, .main-slider-next
	&::before, &::after
		border-color: $main-slider-color

.main-slider-pagination
	position: absolute
	top: 0
	left: 0
	bottom: auto
	width: auto
	min-width: 35px
	padding-right: 20px
	+font-alt-italic
	+font(20px, 1)

	&::after
		+pseudo()
		left: 100%
		top: 50%
		+size(100px, 0)
		border-top: 1px solid $main-slider-color
		margin-top: -1px

.main-slider__item
	position: relative

	&::before
		$grad-color: black
		+pseudo()
		+size(100%)
		+position(0)
		//+linear-gradient(to right, rgba($grad-color, 0.33) 0%, rgba($grad-color, 0) 100%)
		background-color: rgba($grad-color, 0.25)
		z-index: -1

.main-slider__img
	position: absolute
	+size(100%)
	+position(0)
	background-color: $bg-color-alt
	z-index: -2

	//&::after
		+pseudo()
		+position(0)
		+size(100%)
		+linear-gradient(to right, rgba(white, 0.2) 0%, rgba(white, 0) 75%, rgba(white, 0) 100%)

	img
		display: block
		+size(100%)
		max-width: none
		+object-fit(cover)

.main-slider__content
	max-width: 1200px
	+push-auto

.main-slider__title
	$line-height: round-float(72/72, 2)
	$font-size: 72px
	// ===============
	display: block
	overflow: hidden
	margin-bottom: $bottom-space--lg
	+font-alt-bold
	+font($font-size, $line-height)
	width: 700px
	max-width: 100%
	max-height: round($font-size*$line-height*5) // maximum 5 line
	cursor: default

	&:last-child
		margin-bottom: 0

.main-slider__footer
	.more-link
		+display-inline-block-top
		+font-d
		text-decoration: none
		color: inherit

		span
			+display-inline-block-top
			line-height: 1.5
			border-bottom: 2px solid $main-slider-color

		&:hover
			color: $base-color

			span
				border-color: $base-color

/* main slider (home page) end

/* catalog (home page)
$m-catalog-space: 85px, 100px
$m-catalog-img-size: 250px, 375px // width, height
$m-catalog-img-duration: 10s

.m-catalog-title
	display: block
	+font-alt-bold
	+font(48px, 1)
	letter-spacing: 0.05em
	margin-bottom: $bottom-space--md

	&:last-child
		margin-bottom: 0

.m-catalog-list
	border-style: solid
	border-width: 0
	border-color: $border-color
	+clear-spacing

	// при переполненние контейнера (если добавить больше 8 категорий)
	// кастомный скролл (включив опцию fullPage.js scrollOverflow: true) не получается добавить
	// если высота контента (списка) нечетная, то округление высоты одного элемента списка (.m-catalog-item) происходит в болюшу сторону. Добавляется 1 лишний пиксел к общей высоте. Появляется скролл, хотя элементов не больше 8
	// Если же высоту элементов делать на 1 пиксел, то получается однопикселный отступ снизу, что будет резать глаз дизайнеру, менеджерам, клиенту и самому Б.
	// Опцию scrollOverflow не включаем. Лишние (больше 8) элементы списка обрезаются!

	&, .#{$user-content}
		list-style: none
		margin: 0 -1px 0 0
		padding: 0

		li
			padding: nth($m-catalog-space, 1) nth($m-catalog-space, 2)
			margin: -1px 0 0 -1px

			&::before
				content: none

	& > li
		//+display-inline-block-top
		float: left
		overflow: hidden
		width: calc(25% + 1px)
		height: calc((100vh - #{$header-height})/2 + 1px)
		position: relative
		letter-spacing: $letter-spacing
		border-style: solid
		border-color: inherit
		border-width: 1px
		background-color: $bg-color
		z-index: 5

		&::after
			+pseudo()
			+size(100%, 0)
			left: 0
			bottom: 100%
			border-style: solid
			border-color: inherit
			border-width: 1px 0 0
			z-index: 10

		&:last-child
			&::after
				content: none

	$data-length: 'data-length' !default

	@for $i from 1 through 8
		@if $i == 1
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100% + 1px)
					height: calc(100vh - #{$header-height} + 1px)

					.m-catalog-img
						left: auto
						right: nth($m-catalog-space, 2)
						transform: none

		@if $i == 2
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/2 + 1px)
					height: calc(100vh - #{$header-height} + 1px)

					.m-catalog-img
						left: auto
						right: nth($m-catalog-space, 2)
						transform: none

		@if $i == 3
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/2 + 1px)

					&:first-child
						height: calc(100vh - #{$header-height} + 1px)

					.m-catalog-img
						left: auto
						right: nth($m-catalog-space, 2)
						transform: none

		@if $i == 4
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/2 + 1px)

					.m-catalog-img
						left: auto
						right: nth($m-catalog-space, 2)
						transform: none

		@if $i == 5
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/3 + 1px)

					.m-catalog-img
						left: auto
						right: -6%
						transform: none

					&:nth-child(-n+2)
						width: calc(100%/2 + 1px)

						.m-catalog-img
							right: nth($m-catalog-space, 2)

		@if $i == 6
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/4 + 1px)

					&:nth-child(7n + 1),
					&:nth-child(6n)
						width: calc(100%/4*2 + 1px)

						.m-catalog-img
							left: auto
							right: nth($m-catalog-space, 2)
							transform: none

		@if $i == 7
			&[#{$data-length}="#{$i}"]
				& > li
					width: calc(100%/4 + 1px)

					&:nth-child(7n + 1)
						width: calc(100%/4*2 + 1px)

						.m-catalog-img
							left: auto
							right: nth($m-catalog-space, 2)
							transform: none

.m-catalog-img
	position: absolute
	left: 50%
	bottom: 0
	padding: 0
	margin: 0
	width: nth($m-catalog-img-size, 1)
	max-width: 80%
	transform: translate(-50%, 0)
	z-index: -1

	&::before
		+pseudo-block-relative()
		+ratio(nth($m-catalog-img-size, 1), nth($m-catalog-img-size, 2))

	& > div
		position: absolute
		+size(100%)
		+position(0)

	img
		+object-fit(contain)
		display: block
		width: 100%
		height: 100%
		max-width: none
		//backface-visibility: hidden
		//transform: translate(10px, 10px) scale(0.96)
		//transition:
			property: transform, opacity
			duration: $m-catalog-img-duration
			timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)

	// color effect
	&::after
		+pseudo()
		+size(100%)
		+position(0)
		background-color: rgba(white, 0.75)
		z-index: 2

	img
		filter: grayscale(1)

// hover
.m-catalog-list > li:hover
	z-index: 10

	&::after
		content: none

	.m-catalog-img
		&::after
			opacity: 0

		img
			filter: grayscale(0)
			//transform: translate(0, 0) scale(1)

.m-catalog-sub-list

	&, .#{$user-content}
		list-style: none
		margin: 0
		padding: 0 10px 0 0

		li
			padding: 0
			margin: 0 0 18px

			&::before
				content: none

			&:last-child
				margin-bottom: 0

	li
		+font-d
		color: inherit

		a
			color: inherit
			text-decoration: none

			span
				border-bottom: 2px solid $text-color
				border-color: inherit

			&:hover
				color: $base-color

				span
					border-color: $base-color

/* catalog (home page) end

/* services (home page)
$m-services-thumb-left: 160px
$m-services-thumb-indent: 320px

.m-services-container
	height: 100%
	+clear

.m-services
	height: 100%
	margin-left: auto
	margin-right: auto
	position: relative
	overflow: hidden
	z-index: 1

.m-services-visual
	float: left
	width: 50%
	height: 100%
	background-color: $bg-color-alt

.m-services-prev, .m-services-next, .m-services-pagination, .m-services__content
	user-select: none

.m-services__item
	position: relative

.m-services__img
	position: absolute
	+size(100%)
	+position(0)
	background-color: $bg-color-alt
	z-index: -1

	img
		display: block
		+size(100%)
		max-width: none
		+object-fit(cover)

.m-services-title
	display: block
	+font-alt-bold
	+font(48px, 1)
	color: inherit
	margin-bottom: $bottom-space--lg
	padding-left: $m-services-thumb-indent

.m-services-pagination
	position: relative
	z-index: 5

.m-services__letter
	display: block
	position: absolute
	top: 50%
	left: 100%
	width: 400px
	height: 400px
	transform: translate(-50%, -50%)
	//background-color: rgba($bg-color-alt, 0.35)

	svg
		display: block
		position: absolute
		top: 50%
		left: 50%
		margin-top: 50px
		width: 400px
		height: 400px
		transform: translate(-50%, -50%)
		font: 50vmin/1 'minionpro-bold', serif
		text-transform: uppercase

	//.svg-pattern--light
		display: none

	//.dark-view &
		.svg-pattern--dark
			display: none

		.svg-pattern--light
			display: block

.m-services-thumbs
	position: relative
	float: right
	+size(50%, 100%)
	overflow-y: auto
	overflow-x: hidden
	z-index: 0

.m-services-thumbs-align
	position: relative
	margin-right: -100px
	+padding-vertical($layout-spaces)

	&::before
		+pseudo()
		left: $m-services-thumb-left
		top: 0
		+size(0, 100%)
		border: solid $border-color
		border-width: 0 0 0 1px
		z-index: 5
		pointer-events: none

.m-services-bullet
	display: block
	position: relative
	+padding-vertical(20px)
	color: inherit
	+font(16px, 24px)
	text-decoration: none
	+clear
	
	&::before
		+pseudo()
		+size(100%)
		+position(0)
		background-color: #fafafa
		opacity: 0
		z-index: -1

	& > i
		display: block
		float: left
		width: $m-services-thumb-left
		+font-alt-italic
		font-size: 18px
		text-align: center

		&::after
			+pseudo()
			+position(0, $m-services-thumb-left)
			+size(0, 100%)
			border-right: 1px solid $border-color

	& > span
		position: relative
		display: block
		padding-left: $m-services-thumb-indent

		&::before, &::after
			+pseudo()
			height: 0
			border: solid $text-color
			border-width: 1px 0 0
			top: 50%
			left: $m-services-thumb-left
			opacity: 0
			transform: scale3d(0, 1, 1)

			transition:
				property: transform, opacity
				duration: $animation-speed*2
				timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)

		&::before
			width: 30px
			margin-left: -30px
			transform-origin: right center

		&::after
			width: 70px
			transform-origin: left center

	&:hover, &.m-services-bullet-active
		&::before
			opacity: 1

		& > span
			color: $base-color

			&::before, &::after
				opacity: 1
				transform: scale3d(1, 1, 1)


/* services (home page) end

/* file download
.file-download
	margin-bottom: $bottom-space--md
	+font(12px, round-float(16/12, 2))
	letter-spacing: 0.05em

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

	a
		+display-inline-block-top
		padding: 5px 0 5px 36px
		color: $text-color
		text-decoration: none
		text-transform: uppercase
		background-image: url(../../img/depict-download.png)
		background-repeat: no-repeat
		background-size: 20px

		@if $animation-use
			transition:
				property: color
				duration: $animation-speed

		&:hover
			color: $base-color

/* file download end

/* tape slider (home page): News and Promotions
.tape-slider
	height: 100%
	//padding-bottom: 200px
	//background-color: $bg-color-alt
	color: $tape-slider-color

	// чтобы слайды не растягивало по высоте на 100%
	.swiper-wrapper
		align-items: flex-start

.tape-slider-prev, .tape-slider-next, .tape-slider-pagination, .tape-slider__content
	user-select: none

.tape-slider-prev, .tape-slider-next
	&::before, &::after
		border-color: $tape-slider-color

.tape-slider-pagination
	position: absolute
	top: auto
	left: 50%
	bottom: auto
	width: auto
	min-width: 85px
	+padding-horizontal(25px)
	transform: translate(-50%, 0)
	+font-alt-italic
	+font(18px, 1)
	text-align: center
	color: $text-color-light

	&::before, &::after
		+pseudo()
		+size(100px, 0)
		top: 50%
		border-top: 1px solid $tape-slider-color
		margin-top: -1px

	&::before
		right: 100%

	&::after
		left: 100%

	.swiper-pagination-current
		color: $tape-slider-color

.tape-slider__item
	position: relative
	width: 445px

	// News and Promotions
	height: auto
	max-height: none
	min-height: 0
	+clear

/* tape slider (home page): News and Promotions (end)

/* news previews
.news-preview__inner
	display: block
	position: relative
	text-decoration: none
	color: inherit
	padding-bottom: $news-preview-footer-height
	letter-spacing: $letter-spacing
	+clear

	height: 100%

.news-preview__date
	display: block
	+font-alt-italic
	+font(18px, round-float(24/18, 2))
	color: $text-color-light
	margin-bottom: 2.6rem

.news-preview__img
	position: relative
	+size(nth($news-preview-img-size, 1), auto)
	max-width: 100%
	background-color: $bg-color-alt
	z-index: -2

	&::before
		+pseudo-block-relative()
		+ratio(nth($news-preview-img-size, 1), nth($news-preview-img-size, 2))

	&::after
		$size: 80px
		+pseudo()
		+position(100%, 35px)
		+size(0, #{$size})
		margin-top: -#{round($size/2)}
		border-left: 1px solid $base-color

	img
		display: block
		position: absolute
		+position(0)
		+size(100%)
		max-width: none
		+object-fit(cover)

.news-preview__content
	display: block
	float: right
	//width: 320px
	padding: round($grid-space*0.68) #{$grid-space}
	margin-top: -#{round(nth($news-preview-img-size, 2)/2)}
	margin-left: #{round(nth($news-preview-img-size, 2)/2)}
	background-color: $bg-color-base

.news-preview__text
	$this-font-size: $font-size
	$this-line-height: $line-height
	// ===============
	display: block
	position: relative
	overflow: hidden
	+font($this-font-size, $this-line-height)
	height: round($this-font-size*$this-line-height*5) // maximum 5 line

.news-preview__footer
	display: block
	position: absolute
	+size(100%, auto)
	bottom: 0
	left: 0

	.more-link
		+display-inline-block-top
		+font-d
		line-height: $news-preview-footer-height
		text-decoration: none
		color: inherit

		span
			+display-inline-block-top
			border-bottom: 2px solid $tape-slider-color
			line-height: round($news-preview-footer-height - 2px)

		&:hover
			color: $base-color

			span
				border-color: $base-color

// no image
.no-image
	.news-preview__img
		background-image: url(../../img/no-img.png)
		background-color: $bg-color-alt
		background-position: center
		background-repeat: no-repeat
		background-size: 50%


.news-preview
	margin-bottom: $bottom-space--lg
	+grid-parent($news-preview-space-between)
	+clear-spacing

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

.news-previews__item
	+grid-item(2, $news-preview-space-between)

// row view
.row-view-activated
	&.news-preview
		+grid-parent(0)

	.news-previews__item
		+grid-item-responsive(1, 0)
		border: dashed $border-color
		border-width: 0 0 1px

		&:first-child
			border-width: 1px 0

	.news-preview__inner
		padding: $grid-space 0

	.news-preview__date
		float: left
		width: 135px
		margin-bottom: -5px 0

	.news-preview__img
		float: left
		width: 50px
		margin-right: 50px

		&::after
			content: none

	.news-preview__content
		float: none
		overflow: hidden
		margin: -10px 0 // Костыль. Выравнять текст и картинку по горизонтали
		padding: 0

	.news-preview__text
		height: auto

	.news-preview__footer
		display: none

	// hover
	// if link
	a.news-preview__inner:hover
		.news-preview__text
			color: $base-color

/* news previews end

/* previews tabs
// container
.previews-tabs
	position: relative
	height: 100%

// nav
.previews-tabs__nav
	position: absolute
	+size(100%, auto)
	+position(0)
	z-index: 5

	.view-all
		float: right

		a
			display: none

			.activeIs-newsPreviews &.all-news
				display: inline-block

			.activeIs-newsPromotions &.all-promotions
				display: inline-block

.previews-tabs__thumbs
	+display-inline-block-top
	+clear-spacing
	position: relative
	padding-right: 50px

	&::before, &::after
		+pseudo()
		+size(100px, 0)
		top: 50%
		border-top: 1px solid $tape-slider-color
		margin-top: -1px

	&::before
		content: none

	&::after
		left: 100%

	.heading &
		margin-bottom: round($bottom-space--lg/2)

		+media('<desk-lg')
			margin-bottom: round($bottom-space--ml/2)

.previews-tabs__tab
	$this-space: 1.6em
	$this-font-size: 48px
	//=================
	position: relative
	+display-inline-block-top
	+font-alt-bold
	+font($this-font-size, round-float(52/48, 2))
	letter-spacing: $letter-spacing
	padding-right: $this-space

	&::after
		+pseudo()
		+size(0, $this-font-size)
		top: 50%
		right: round-float($this-space/2, 1) // нужны десятые
		border-left: 2px solid $text-color-light
		margin-top: -1px
		transform: translate(0, -50%)

	&:last-child
		padding-right: 0

		&::after
			content: none

	a
		text-decoration: none
		color: inherit

		span
			border-bottom: 2px solid transparent

		// hover
		&:hover:not(.active-tab)

			span
				border-color: $text-color

		// active
		&.active-tab
			color: $base-color
			cursor: default

// panels
.previews-tabs__panels
	height: 100%
	overflow: hidden

.previews-tabs__panel
	height: 100%
	padding-top: $previews-tabs-top-space

	// эффект смены табов
	//.tape-slider
		will-change: opacity, transform
		//transform: translate3d(0, -200px, 0)
		transform: scale(1.1) translateZ(0)
		opacity: 0
		transition:
			property: transform, opacity
			duration: $animation-speed*3
			//timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)
			timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96)

	//&.active-tab .tape-slider
		opacity: 1
		//transform: translate3d(0, 0, 0)
		transform: scale(1) translateZ(0)

/* previews tabs end

/* box options
.box-options
	margin-bottom: $bottom-space--lg
	+clear

	&:last-child
		margin-bottom: 0

.box-options__label
	float: left
	min-height: 10px
	+font-alt-italic
	+font(1.8rem, round-float(30/18, 2))
	color: $text-color-light

/* box options end

/* custom table
.c-table
	display: table
	width: 100%

.c-thead
	display: table-header-group

.c-tbody
	display: table-row-group

.c-tfoot
	display: table-footer-group

.c-tr
	display: table-row

.c-th, .c-td
	display: table-cell

/* custom table end

/* color pic
.color-pics
	cursor: default

.color-pic
	+display-inline-block-top
	+size(16px)
	border-radius: 50%
	+font(0, 0)

	.color-pics &
		margin-right: 16px
		margin-top: 10px

/* color pic end

/* order list
.order-calc-list
	.c-th
		padding: 15px #{$grid-space}
		+font-d
		border: solid $bg-color-base
		border-width: 0 0 0 2px
		background-color: $bg-color-alt

		&:first-child
			border: none

	.c-td
		padding: 10px #{$grid-space}
		vertical-align: middle
		border: solid $border-color
		border-width: 0 0 1px

// === img ===
.order-list__img
	border: 1px solid transparent
	display: block
	text-decoration: none
	color: inherit
	position: relative
	+size(70px, auto)

	&::after
		+pseudo-block-relative()
		+ratio(1, 1)

	img
		+cover-abs
		display: block
		width: 100%
		height: 100%
		max-width: none
		+object-fit(contain)

// hover
.no-touchevents a.order-list__img:hover
	border-color: $base-color

// === color ===
.order-calc-list__color
	white-space: nowrap
	vertical-align: middle

	.color-pic
		vertical-align: middle
		margin-right: 5px

// === totals ===
.order-calc-totals
	position: relative
	margin-top: -1px
	line-height: 0
	background-color: $bg-color-alt
	+clear

.order-calc-totals__text
	+display-inline-block-middle
	+font-d()
	padding: 14px $grid-space
	display: none

	&.show
		display: inline-block

.order-calc-totals__label
	+display-inline-block-top
	margin-right: 10px

.order-calc-totals__count, .order-calc-totals__price
	color: $base-color

.order-calc-btn
	float: right
	min-width: 240px

/* order list end

/* stock tape
.stock-tape
	display: block
	position: relative
	+size(90px, 10px)
	background-color: $bg-color-base
	box-shadow: inset 0 0 0 1px $border-color

.stock-tape-value
	background-color: gray
	+cover-abs
	text-indent: -9999px
	overflow: hidden

	// from 1% to 50%
	// from 1% to 50%
	+grad-per-value($color: #d70000 #d7d700, $val: 1 50)

	// from 51% to 100%
	+grad-per-value($color: #d7d700 #009b00, $val: 51 100)

/* stock tape end

/* pseudotabs
.pseudotabs


.pseudotabs-nav
	text-align: center
	+clear-spacing
	margin: 0 -20px round($bottom-space--lg/2)

	+media('<desk-lg')
		margin-bottom: round($bottom-space--ml/2)

.pseudotabs-tab
	+font-d()
	+display-inline-block-top
	margin: 0 20px round($bottom-space--lg/2)

	+media('<desk-lg')
		margin-bottom: round($bottom-space--ml/2)

	a
		display: block
		color: $text-color
		text-decoration: none
		
		span
			border-bottom: 2px dotted $text-color

		// hover
		&:hover
			color: $link-color

			span
				border-color: $link-color

		// active
		&.active-tab
			color: $link-color

			span
				border-color: transparent

/* pseudotabs end