@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* files links
.file
	$file-icon-size: 42px
	+display-inline-block-top
	min-height: $file-icon-size
	padding: 0.5em
	+font(16px, 20px)
	color: $text-color
	text-decoration: none

	@if $animation-use
		transition:
			property: background-color
			duration: $animation-speed

	+clear

	svg
		float: left
		+size($file-icon-size)

	path
		fill: $text-color

		@if $animation-use
			transition:
				property: fill
				duration: $animation-speed

	& > span, & > em
		+font-normal
		display: block
		margin-left: #{$file-icon-size}
		padding-left: 1em

		@if $animation-use
			transition:
				property: color
				duration: $animation-speed

	& > em
		display: block
		font-size: 1.4rem
		color: $text-color-light

	.no-touchevents &:hover

		& > span
			color: $base-color

		path
			fill: $base-color

/* files links end