@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* popups
// inline popup
.inline-popup
	max-width: $popup-width
	padding: $popup-space
	background-color: $bg-color-base
	+push-auto

// default popup
.default-popup
	max-width: $default-popup-width
	padding: $default-popup-space
	background-color: $bg-color-alt
	+push-auto

	+media('<tab-sm')
		max-width: none
		min-height: 100vh
		padding: #{30+$header-height--lg} #{$layout-spaces--sm} #{$layout-spaces--sm}

	+media('<mob-lg')
		padding: #{30+$header-height--lg} #{$layout-spaces--mob}

// popup title
.inline-popup__title, .default-popup__title
	+font-alt-bold
	+font(24px, round-float(32/24, 2))
	margin-bottom: $bottom-space--md
	padding-right: 20px

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

// pseudotabs-nav
.default-popup, .inline-popup
	.pseudotabs-nav
		padding-right: 40px
		margin-bottom: 20px

		+media('<tab-sm')
			padding-right: 0

	.pseudotabs-tab
		margin-bottom: 20px

/* popups end