@import ../utils/_variables
@import ../utils/_mixins
@import ../../libs/include-media/dist/_include-media

/* products filters
$p-filters-angle-lines-size: 10px, 2px // width, height
$p-filters-angle-lines-color: $text-color

.p-filters
	position: relative
	padding-right: 1px
	margin-bottom: $bottom-space--lg
	z-index: 15
	user-select: none

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

.p-filters-list
	+clear-spacing
	padding-bottom: 1px
	margin-bottom: $bottom-space--md

	&:last-child
		margin-bottom: 0

.p-filters-item
	position: relative
	+font($font-size, $line-height)
	letter-spacing: $letter-spacing
	border-bottom: 1px solid $text-color
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

.p-filters-inner
	text-decoration: none
	color: inherit

.p-filters-select
	position: relative

.p-filters-select-head
	padding: 5px 20px 5px 0
	cursor: pointer

// angle
.p-filters-angle
	position: absolute
	right: 0
	top: 50%
	+size(nth($p-filters-angle-lines-size, 1), nth($p-filters-angle-lines-size, 2))
	margin-top: -#{round(nth($p-filters-angle-lines-size, 2)*0.5)}
	transition:
		property: transform
		duration: $animation-speed

	&::before, &::after
		+pseudo()
		left: 0
		+size(nth($p-filters-angle-lines-size, 1), nth($p-filters-angle-lines-size, 2))
		background-color: $p-filters-angle-lines-color
		transition:
			property: transform
			duration: $animation-speed

	&::before
		top: 0

	&::after
		top: 0
		transform: rotate(90deg) translateZ(0)

		.ie9 &
			transform: rotate(90deg)

.p-filters__title
	+font-d
	color: inherit

.p-filters-drop
	position: relative
	display: none

.p-filters-drop-list

	&, .#{$user-content} &
		margin: 0
		padding: #{round($grid-space*0.8)} 0 $grid-space

		li
			padding-left: 0
			margin: 0 0 15px

			&::before
				content: none

			&:last-child
				margin-bottom: 0

	label
		display: block
		font-size: 12px
		letter-spacing: 0.05em
		text-transform: uppercase

		//.no-touchevents &:hover
			color: $link-color

		[type="checkbox"]:checked
			& ~ span
				+font-bold

// hover, active, has checked filters
.no-touchevents .p-filters-select:hover,
.p-filters-item.p-filters-on
	color: $base-color

	.p-filters-angle
		&::before, &::after
			background-color: $base-color

// drop open
.p-filters-item.p-filters-is-open
	.p-filters-angle
		transform: rotate(0.5turn) translateZ(0)

		&::after
			transform: rotate(0) translateZ(0)

		.ie9 &
			transform: rotate(0.5turn)

			&::after
				transform: rotate(0)

	.p-filters-drop
		display: block

/* filters tags
.p-filters-tags
	margin-bottom: $bottom-space--md
	min-height: 30px

	+media('<desk-lg')
		margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

.p-filters-tags__holder
	cursor: default
	margin-top: -10px

.p-filters-tags__item
	+display-inline-block-top
	position: relative
	margin: 10px 25px 0 0
	cursor: pointer
	color: inherit
	padding: 0 0 0 20px
	+font(12px, 18px)
	letter-spacing: 0.05em
	text-transform: uppercase

	& > span
		+display-inline-block-top
		+truncate(120px)

	&:last-child::after
		content: none

	& > i
		$this-icon-lines-width: 10px
		$this-icon-lines-height: 2px
		$this-icon-lines-color: $text-color

		position: absolute
		left: 0
		top: 50%
		+size(#{round($this-icon-lines-width*1.5)})
		margin-top: -#{round($this-icon-lines-width*1.5*0.5)}
		border-radius: 0
		background-color: transparent
		+font(0, 0)

		&::before, &::after
			+pseudo()
			left: 50%
			top: 50%
			backface-visibility: hidden
			+size($this-icon-lines-width, $this-icon-lines-height)
			margin: -#{round($this-icon-lines-height*0.5)} 0 0 -#{round($this-icon-lines-width*0.5)}
			background-color: $this-icon-lines-color

		&::before
			transform: rotate(-45deg)

		&::after
			transform: rotate(45deg)

	.no-touchevents &:hover
		color: $base-color

		& > i
			&::before, &::after
				background-color: $base-color

/* filters tags end

/* products filters end