@import ../utils/_variables
@import ../utils/_mixins
@import ../../libs/include-media/dist/_include-media

/*product card*/
$p-card-space: 100px
$p-card-space--lg: 50px
$p-card-ratio: 55% 45%
$p-card-ratio--lg: 50% 50%

$p-card-elem-bottom-space: 40px

.p-card
	+clear
	//margin-bottom: $bottom-space--lg

	//+media('<desk-lg')
		margin-bottom: $bottom-space--ml

// title
.p-card__title
	margin-bottom: $p-card-elem-bottom-space

	h1, h2, h3
		+font-alt-bold
		+font(#{$font-size-h2}, #{$line-height-h2})
		letter-spacing: 0.05em
		margin-bottom: $p-card-elem-bottom-space

		+media('<mob-lg')
			+font(#{$font-size-h1--sm}, #{$line-height-h1--sm})
			margin-bottom: $bottom-space

		&:last-child
			margin-bottom: 0

	.to-catalog
		text-align: right
		margin-bottom: $bottom-space

.p-card__state
	+font-d()

	.p-card__model, .p-card__store
		+display-inline-block-top

.p-card__model
	color: $text-color-light
	
.p-card__store
	&::before
		content: "/"
		display: none
		color: $text-color-light

	.p-card__model + &::before
		display: inline-block

	svg
		+display-inline-block-top
		+size(14px)
		margin-top: 3px

	path, polygon
		fill: inherit

	&.on
		$color: #32b39b
		// ================
		color: $color
		fill: $color

	&.off
		$color: #ff203b
		// ================
		color: $color
		fill: $color

		svg
			+size(10px)
			margin-top: 5px

// product photos
.p-card, .p-card__content__holder
	padding: 0 $p-card-space

.p-card__visual
	float: left
	width: nth($p-card-ratio, 1)
	margin-bottom: $bottom-space--lg

	+media('<desk-lg')
		width: nth($p-card-ratio--lg, 1)

	&:last-child
		margin-bottom: 0

.p-card__gallery
	margin-bottom: $bottom-space--lg

	&:last-child
		margin-bottom: 0

.p-card__gallery__item
	//height: calc(100vh - 264px) // костыль
	position: relative
	height: 100vh
	text-align: center
	// для сжатия по высоте / плохо анимируется
	//+clear-spacing

	// для сжатия по высоте / плохо анимируется
	//&::before
		content: ""
		display: inline-block
		vertical-align: middle
		+size(0, 100%)

	img
		visibility: hidden
		display: block
		width: 100%
		height: 100%
		max-width: none
		+object-fit(none)
		+object-fit(scale-down)

		.no-js &
			width: auto
			height: auto
			max-width: 100%

.p-card__gallery__inner
	// для сжатия по высоте / плохо анимируется
	//+display-inline-block-middle
	+size(100%, 100%)
	font-size: $font-size
	letter-spacing: normal
	background-position: center
	background-repeat: no-repeat
	background-size: auto 80%

// widget
.p-card__widget
	margin-top: $p-card-elem-bottom-space
	+font(#{$font-size}, #{$line-height})

	&:first-child
		margin-top: 0

.p-card__widget__title
	display: block
	+font-d()
	margin-bottom: $bottom-space--sm

// info
.p-card__content
	width: nth($p-card-ratio, 2)
	float: right
	clear: right
	will-change: min-height

	+media('<desk-lg')
		width: nth($p-card-ratio--lg, 2)

.p-card__content__holder
	padding-right: 0
	padding-bottom: $bottom-space--lg
	transform: translate(0, 0) /* For browsers don't support translate3d. */
	transform: translate3d(0, 0, 0)
	will-change: position, transform

// price
.p-card__price
	+font-normal
	line-height: 24px
	color: $base-color

	.val
		display: inline-block
		vertical-align: baseline
		+font-bold
		font-size: 18px

	small
		display: inline-block
		vertical-align: baseline
		font-size: 14px

	.old, .cur
		position: relative
		display: inline-block
		vertical-align: baseline
		margin-right: $grid-space

	.old
		color: $text-color-light

		&::after
			+pseudo()
			+size(calc(100% + 4px), 0)
			left: -2px
			bottom: 50%
			margin-bottom: -1px
			border-top: 1px solid $text-color-light

		.val
			font-size: 14px

		small
			font-size: 10px

// list of characteristics
.p-card__options__dl
	margin-bottom: $p-card-elem-bottom-space
	$dt-width: 184px

	&:last-child
		margin-bottom: 0

	.p-card__options__di
		position: relative
		padding: 10px 0
		border-bottom: 1px dashed $text-color-light
		+clear

	.p-card__options__dt
		float: left
		width: $dt-width
		color: $text-color-light
		padding-right: 10px

	.p-card__options__dd
		margin-left: $dt-width

// list of grid view parameters
.p-card__options__grid
	+clear

	&, .#{$user-content} &
		padding: 0 0 1px 1px
		margin: 0 0 $p-card-elem-bottom-space

		&:last-child
			margin-bottom: 0

		li
			padding: 8px
			margin: 0 0 -1px -1px

			&::before
				content: none

	li
		float: left
		min-width: 60px
		border: 1px solid $border-color
		+font(16px, 20px)
		text-align: center

// list of colors
.p-card__color
	+clear-spacing

	&, .#{$user-content} &
		padding: 0 0 1px 1px
		margin: 0 0 $p-card-elem-bottom-space

		&:last-child
			margin-bottom: 0

		li
			padding: 8px 8px 8px 42px
			margin: 0 0 -1px -1px

			&::before
				content: none

	li
		position: relative
		+display-inline-block-top
		width: 33.28%
		border: 1px solid $border-color
		+font($font-size, $line-height)
		letter-spacing: normal
		+truncate(none)
		cursor: default

	.color-pic
		position: absolute
		left: 19px
		top: 14px
		margin: 0
		z-index: 5
		will-change: transform
		transition:
			property: transform
			duration: 0.6s

	.no-touchevents & li:hover
		.color-pic
			$scale: 30
			transform: scale($scale)
			transform: scale3d($scale, $scale, $scale)

// previous and next products
.p-card__btn
	$pc-btn-size: 300px 430px // width height
	$animation-speed: $animation-speed
	// ==================
	position: absolute
	top: 160px
	+size(nth($pc-btn-size, 1), nth($pc-btn-size, 2))
	//margin: -#{round(nth($pc-btn-size, 2)/2)} -#{round(nth($pc-btn-size, 1)/2 + $layout-spaces - $p-card-space/2)} 0
	margin: 0 -#{round($layout-spaces + nth($pc-btn-size, 1)/2)}
	text-decoration: none
	color: inherit
	z-index: 15
	//background-color: linen
	will-change: color, opacity, visibility
	transition:
		property: color, opacity, visibility
		duration: $animation-speed
		//timing-function: cubic-bezier(0, 0.71, 0.41, 1)

	// zoom on
	.zoom-on &
		opacity: 0
		visibility: hidden

	// title in button
	.p-card__btn__text
		// vars ===========
		$space: 30px
		$size: 240px 24px
		//=================
		position: absolute
		+size(nth($size, 2))
		+font(14px, nth($size, 2))
		top: 50%
		left: $space
		right: $space
		margin: -#{round(nth($size, 2)/2)} 0 0

		//background-color: #05345c

		span
			display: block
			+size(nth($size, 1), nth($size, 2))
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%) rotate(-0.25turn)
			text-align: center
			+truncate(nth($size, 1))

			//background-color: rgba(255, 182, 193, 0.5)

	// arrows in button
	.p-card__btn__arr
		$space: 17px
		//===============
		position: absolute
		right: $space
		left: $space
		top: 50%
		transition:
			property: transform, opacity
			duration: $animation-speed
			//timing-function: cubic-bezier(0, 0.71, 0.41, 1)

		&::before, &::after
			border-color: #e6e6e6

	// images in button
	.p-card__btn__img
		display: block
		+size(80%, 100%)
		+push-auto
		opacity: 0
		transition:
			property: transform, opacity
			duration: $animation-speed
			//timing-function: cubic-bezier(0, 0.71, 0.41, 1)

		img
			display: block
			width: 100%
			height: 100%
			max-width: none
			+object-fit(none)
			+object-fit(scale-down)

			.no-js &
				width: auto
				height: auto
				max-width: 100%

	// prev button
	&.p-card__btn--prev
		left: 0
		margin-right: 0

		.p-card__btn__text, .p-card__btn__arr
			left: auto

		.p-card__btn__img
			transform: translate(-20px, 0)

	// next button
	&.p-card__btn--next
		right: 0
		margin-left: 0

		.p-card__btn__text, .p-card__btn__arr
			right: auto

		.p-card__btn__img
			transform: translate(20px, 0)

	// hover
	&:hover, &:not(.disabled):hover

		color: $link-color

		// arrows in button
		.p-card__btn__arr
			opacity: 0

			&::before, &::after
				border-color: #e6e6e6

		.p-card__btn__img
			transform: translate(0, 0)
			opacity: 0.25

		// hover next btn
		&.p-card__btn--prev

			// arrows in button
			.p-card__btn__arr
				transform: translate(-20px, 0)

		// hover prev btn
		&.p-card__btn--next

			// arrows in button
			.p-card__btn__arr
				transform: translate(20px, 0)
// zoom on
.p-card__content, .p-card__visual, .p-card__gallery__item, .p-card__gallery__inner, .p-card__content__frame
	will-change: margin, width, height, opacity, visibility, background-size
	transition:
		property: margin, width, height, opacity, visibility, background-size
		duration: 0.4s
		timing-function: cubic-bezier(0,.71,.41,1)

.p-card__gallery__item
	cursor: url(../../img/cursor-zoom-in.cur), zoom-in
	user-select: none

.zoom-on
	.p-card__content
		//margin-right: -#{nth($p-card-ratio, 2)}
		opacity: 0
		visibility: hidden

	.p-card__visual
		width: 100%
		margin-right: -#{nth($p-card-ratio, 2)}

	.p-card__gallery__item
		cursor: url(../../img/cursor-zoom-out.cur), zoom-out
		//height: 100vh

	.p-card__gallery__inner
		background-size: auto 100%

	.p-card__content__frame
		margin-right: -200px
		margin-left: 200px

// для сжатия по высоте / плохо анимируется
	//.p-card__gallery__inner
		+size(100%)

/*product card end*/

/*card bar*/
//.p-card-overview
	position: relative
	margin-bottom: $p-card-elem-bottom-space

	&:last-child
		margin-bottom: 0

/*card bar end*/