@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* user options
$uo-space: 34px

.user-options
	position: relative
	list-style: none
	padding: 0
	margin: 0 -#{round($uo-space/2)}
	+clear-spacing
	line-height: 1

.user-options__item
	position: relative
	+display-inline-block-middle
	+padding-horizontal(round($uo-space/2))
	+font($font-size, 1)
	letter-spacing: normal

	& > a
		display: block
		position: relative
		color: $text-color
		// для svg
		fill: $text-color
		text-decoration: none
		text-align: center

		@if $animation-use
			transition:
				property: color
				duration: $animation-speed

		& > *
			+display-inline-block-middle

		&::before
			+pseudo-inline-block()
			vertical-align: middle
			height: 100%

		svg
			+size(18px)
			+display-inline-block-middle

			& ~ span
				padding-left: 10px

		path
			fill: inherit

			@if $animation-use
				transition:
					property: fill
					duration: $animation-speed

		& > span
			+display-inline-block-middle

		// hover
		&:hover
			color: $link-color
			fill: $link-color

/* user options