@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* user options
$uo-size: 50px
$uo-size--mob: 40px
$uo-space: 34px
$uo-icon-size: 18px

.user-options
	position: relative
	list-style: none
	padding: 0
	margin: 0 -#{round($uo-space/2)}
	+clear-spacing
	line-height: 1

.user-options__item
	position: relative
	+display-inline-block-middle
	//+padding-horizontal(round($uo-space/2))
	//padding: round($uo-space/2)
	+font($font-size, 1)
	letter-spacing: normal

	& > a
		position: relative
		display: block
		+size($uo-size)
		color: $text-color
		line-height: 1
		// для svg
		fill: $text-color
		text-decoration: none
		text-align: center

		//+media('<mob-md')
			+size($uo-size--mob)

		&::before
			content: ""
			+display-inline-block-middle
			height: 100%

		//@if $animation-use
			transition:
				property: color
				duration: $animation-speed

		svg
			//+display-inline-block-middle
			+size($uo-icon-size)
			position: absolute
			left: 50%
			top: 50%
			margin: -#{round($uo-icon-size/2)} 0 0 -#{round($uo-icon-size/2)}
			will-change: opacity
			transition:
				property: transform, opacity
				duration: $animation-speed

			&.for-close
				+size(12px)
				margin: -6px 0 0 -6px
				z-index: auto
				opacity: 0
				//visibility: hidden

			&.for-open
				z-index: 1

			& ~ span
				padding-left: 10px

			& ~ span.hide-text
				padding-left: 0

		path
			fill: inherit

			@if $animation-use
				transition:
					property: fill
					duration: $animation-speed

		& > span
			+display-inline-block-middle
			+font-d()

		// hover
		&:hover
			color: $link-color
			fill: $link-color

		&.active
			.for-close
				opacity: 1
				//visibility: visible
				z-index: 1

			.for-open
				opacity: 0
				//visibility: hidden
				z-index: auto

// message
//.user-options--message

// login
.user-options--login
	+media('<mob-md')
		display: none

// basket
.user-options-counter
	$size: 18px
	$border: 2px
	position: absolute
	left: 50%
	top: 50%
	margin: -18px 0 0 0
	padding: 0 3px
	height: $size+$border*2
	min-width: $size+$border*2
	border-radius: round(($size+$border*2)/2)
	background-color: $base-color
	border: $border solid $bg-color-base
	+font-medium
	+font(11px, $size)
	color: $bg-color-base
	text-align: center
	z-index: 5
	transform: rotateY(0turn)
	will-change: transform, opacity
	opacity: 1
	transition:
		property: transform, opacity
		duration: $animation-speed

	.user-options__item a.active &
		opacity: 0.5
		transform: rotateY(0.25turn)

	//+media('<mob-md')
		margin: -18px 0 0 18px

// search
.user-options--search
	& > a
		&.active
			svg
				&.for-close
					+media('<tab-sm')
						opacity: 0

				&.for-open
					+media('<tab-sm')
						opacity: 1

// lang
.user-options--lang
	display: none

	+media('<desk-sm')
		display: inline-block

/* user options