@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* view switcher
$view-switcher-size: 38px, 18px // width, height
$view-switcher-size-alt: 18px, 18px // width, height
$view-switcher-icon-size: 16px

.view-switcher
	position: relative
	margin-bottom: $bottom-space--md
	line-height: 0

	&::before
		+pseudo()
		top: 50%
		right: 100%
		+size(100px, 0)
		border-top: 1px solid $tape-slider-color
		margin-top: -1px
		margin-right: 50px

		+media('<desk-md')
			margin-right: 30px
			width: 50px

		+media('<desk-sm')
			content: none

	&:last-child
		margin-bottom: 0

	// если лежит в .heading
	.heading &
		margin-bottom: round($bottom-space--lg/2)

		+media('<desk-lg')
			margin-bottom: round($bottom-space--ml/2)

	a
		float: left
		position: relative
		margin-left: 20px
		//+size(nth($view-switcher-size, 1), nth($view-switcher-size, 2))
		color: $text-color
		fill: $text-color
		z-index: 9

		+media('<desk-md')
			margin-left: 10px

		&:first-child
			margin-left: 0

		span
			+hide-text
			line-height: $line-height

		svg
			+display-inline-block-top

			&.svg-ico-menu-short, &.svg-ico-menu-full
				+size(nth($view-switcher-size, 1), nth($view-switcher-size, 2))

			&.svg-ico-menu-short-lg, &.svg-ico-menu-full-lg
				+size(nth($view-switcher-size-alt, 1), nth($view-switcher-size-alt, 2))


		path
			fill: inherit

		&:hover
			color: $base-color
			fill: $base-color

		&.active
			color: $base-color
			fill: $base-color
			cursor: default

/* view switcher end