@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* shutter
//html.css-scroll-fixed

	&.touchevents
		+scroll-blocked() // блокировка скролла во время открытия попапа (на тачскринах)

//.content-wrap, .scroll-nav, .top-panel, .footer__holder
	transition-property: transform
	transition-duration: $animation-speed
	transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1) !important

	.shutter--before-open &
		transform: translate($nav-width - 250, 0)

		+media('<tab-lg')
			transform: none

//.side-menu
	.shutter--before-open &
		transform: translate($sidebar-drop-width, 0)
		transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)

		+media('<tab-lg')
			transform: none

.shutter
	overflow: hidden // необходим для скрытия скролла
	position: fixed
	//left: 0
	bottom: 0
	min-width: 320px
	background: $bg-color
	opacity: 0
	visibility: hidden
	z-index: 1000
	left: #{$sidebar-width}
	+size(100%, calc(100vh - #{$header-height}))

	+media('<desk-lg')
		left: #{$sidebar-width--lg}
		height: calc(100vh - #{$header-height--lg})

	+media('<desk-sm')
		left: 0

.shutter__options
	display: none

	+media('<tab-sm')
		display: block

.shutter__align
	width: calc(100% + 100px)
	overflow-x: hidden
	overflow-y: auto
	height: 100%

	+media('<desk-sm')
		width: 100%

.shutter__holder
	+clear
	padding: nth($shutter-space, 1) $layout-spaces

	+media('<desk-hd')
		padding: nth($shutter-space--hd, 1) $layout-spaces--hd

	+media('<desk-lg')
		padding: nth($shutter-space--lg, 1) $layout-spaces--lg

	+media('<desk-sm')
		width: 100%

.shutter__footer
	border-top: 1px solid $border-color

/* shutter content
.shutter-content
	float: left
	width: calc(100% - #{$shutter-aside-width})
	padding-right: $grid-space

/* shutter content end

/* shutter aside
.shutter-aside
	float: right
	width: $shutter-aside-width

/* shutter aside end

/* button shutter close
.btn-shutter-close
	//<a href="#" class="btn-shutter-close js-btn-shutter-close"><i>&nbsp;</i><span>Закрыть</span></a>
	$btn-shutter-close--bg: #fff
	$btn-shutter-close--color: $text-color
	$btn-shutter-close--size: 60px
	$btn-shutter-close--space: 12px
	$btn-shutter-close--lines-width: 22px
	$btn-shutter-close--lines-height: 2px
	$btn-shutter-close--lines-space: 5px
	$btn-shutter-close--lines-radius: 0
	$btn-shutter-close--lines-color: $text-color

	display: block
	+size($btn-shutter-close--size)
	background: $btn-shutter-close--bg
	color: white
	text-decoration: none
	+clear-spacing
	white-space: nowrap
	transition-property: background-color, opacity, visibility
	transition-duration: $animation-speed

	&::before
		content: ''
		display: inline-block
		height: $btn-shutter-close--size
		min-height: 100%
		vertical-align: middle

	> span
		+hide-text

	> i
		display: inline-block
		vertical-align: middle
		position: relative
		//backface-visibility: hidden
		background-color: transparent
		+size($btn-shutter-close--lines-width, $btn-shutter-close--lines-height)
		border-radius: $btn-shutter-close--lines-radius

		&::before, &::after
			+pseudo()
			left: 0
			//backface-visibility: hidden
			+size($btn-shutter-close--lines-width, $btn-shutter-close--lines-height)
			border-radius: $btn-shutter-close--lines-radius
			background: $btn-shutter-close--lines-color
			transition-property: background-color
			transition-duration: $animation-speed

		//first line menu
		&::before
			top: 0
			transform: rotate(-45deg)

		//third line menu
		&::after
			top: 0
			transform: rotate(45deg)

	.no-touchevents &:hover
		background-color: $bg-color-selected

/* button shutter close end

.btn-popup-close
	display: none
	position: absolute
	right: 0
	top: 0

	+media('<tab-lg')
		display: block

/* nav-shutter
.nav-shutter
	+media('<tab-sm')
		height: 100%
		z-index: 1040

	&, .shutter__holder
		max-width: $shutter-width

		+media('<desk-lg')
			max-width: $shutter-width--lg

		+media('<desk-sm')
			max-width: none

	.user-options
		display: none

/* nav-shutter end

/* shutter wide
.shutter--wide
	max-width: #{$page-layout-width - $sidebar-width}

	+media('<1921')
		max-width: calc(100% - #{$sidebar-width})

	+media('<desk-lg')
		max-width: calc(100% - #{$sidebar-width--lg})

	+media('<desk-sm')
		max-width: none

	.shutter__align
		width: 100%

	.shutter__holder
		width: 100%

/* shutter wide end

/* bag shutter
.bag-shutter
	$bag-shutter-width: 470px
	// ======================
	width: $bag-shutter-width
	max-width: 100%
	//left: auto
	//right: 0
	left: $page-layout-width
	margin-left: -#{$bag-shutter-width}

	+media('<desk-hd')
		left: 100%

	.shutter__align
		overflow-y: hidden

	.shutter__holder
		width: #{$bag-shutter-width}
		height: 100%
		padding: 0

		&::after
			content: none

		+media('<tab-lg')
			width: 100%

	.shutter__row
		overflow-x: hidden
		overflow-y: auto

		&.shutter__footer
			overflow-y: hidden

	.shutter__cell
		padding: $grid-space

/* bag shutter end
/* shutter end